/****** Object:  Trigger [dbo].[iUtrgtblRsvrtnPmt]    Script Date: 8/5/2025 8:35:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER TRIGGER [dbo].[iUtrgtblRsvrtnPmt]
ON [dbo].[tblRsvrtnPmt]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @EnableDiagnostics BIT = 1; -- 🔄 Toggle to 0 to silence debug logging

    IF @EnableDiagnostics = 1
    BEGIN
        INSERT INTO [dbo].[DebugTriggerLog] (Message, LoggedAt)
        VALUES ('Trigger fired on tblRsvrtnPmt', GETDATE());
    END
    if exists (select 1 from inserted where isnull(pmtTrnKey,'~') <> '~')
    BEGIN
        -- 🧮 Insert invoice when AuthCode = 'ACCEPT'
        INSERT INTO [dbo].[iVwARinvoice] (
            invNbr,
            invType,
            invRefDoc,
            invAmt,
            invStatus,
            invCrtdBy
        )
        SELECT
            i.pmtRsrvtnID,
            'IN',
            concat(RIGHT(FORMAT(t.trpPckDate, 'yy'), 2),
            RIGHT('000' + CAST(DATEPART(DAYOFYEAR, t.trpPckDate) AS VARCHAR), 3),
            r.RsrvtnSrc,
            CAST(t.trpPckLctnTpe AS VARCHAR),
            CAST(t.trpDrpLctnTpe AS VARCHAR)),
            ISNULL(i.pmtFPAmt, 0),
            '1',
            r.RsrvtnSrc
        FROM inserted i
        INNER JOIN dbo.tblRsvrtns r ON r.RsrvtnID = i.pmtRsrvtnID
        INNER JOIN dbo.tblTrps t ON t.trpRsrvtnID = i.pmtRsrvtnID
        WHERE i.pmtAuthCode = 'ACCEPT'
          AND t.trpID = (Select top 1 t.trpID from tblTrps t where t.trpRsrvtnID = r.RsrvtnID order by t.trpID asc);

        update tblRsvrtns set RsrvtnStatus = 'a' where RsrvtnID in (select pmtrsrvtnID from inserted);
    END
    if exists (select 1 from inserted where isnull(pmtTrnKey,'~') = '~' and pmtCardName in ('REFUND','VOID') )
    BEGIN
        INSERT INTO [dbo].[iVwARinvoice] (
            invNbr,
            invType,
            invRefDoc,
            invAmt,
            invStatus,
            invCrtdBy
        )
        SELECT
            i.pmtRsrvtnID,
            'CM',
            i.pmtCardName,
            ISNULL(i.pmtFPAmt, 0),
            '1',
            r.RsrvtnSrc
        FROM inserted i
        INNER JOIN dbo.tblRsvrtns r ON r.RsrvtnID = i.pmtRsrvtnID
        INNER JOIN dbo.tblTrps t ON t.trpRsrvtnID = i.pmtRsrvtnID
        WHERE i.pmtAuthCode = 'ACCEPT'
          AND t.trpID = (Select top 1 t.trpID from tblTrps t where t.trpRsrvtnID = r.RsrvtnID order by t.trpID asc);

        update tblRsvrtns set RsrvtnStatus = 'x' where RsrvtnID in (select pmtrsrvtnID from inserted);    
    END
END;