/****** Object:  StoredProcedure [dbo].[sp_I_VwARpayments]    Script Date: 8/29/2025 8:08:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:      Michael Waldhelm
-- Create Date: 06/27/2025
-- Description: INSERT tblARpayments
-- =============================================
ALTER   PROCEDURE [dbo].[sp_I_VwARpayments]
(	    -- Add the parameters for the stored procedure here
        @pmtinvID			nvarchar(20),
		@pmtChkNo			nvarchar(16),
        @pmtType			nvarchar(2),
		@pmtRefDoc			nvarchar(1000),
        @pmtAmt				money,
		@pmtNotes			varchar(max),
		@pmtCrtdBy			nvarchar(128),
		@pmtCrtdDtTm		smalldatetime null,
		@Updpmtt			smalldatetime null,
		@pmtUpdtBy			nvarchar(128) null,
		@pmtID				nvarchar(8) null
)
AS	
BEGIN

INSERT INTO [dbo].[iVwARpayments]
           ( [pmtID]
			,[pmtinvID]
			,[pmtType]
			,[pmtRefDoc]
			,[pmtAmt]
			,[pmtCrtdDtTm]
			,[pmtCrtdBy]
			,[pmtUpdt]
			,[pmtUpdtBy]
			,[pmtNotes])
     VALUES
           (@pmtID,
			@pmtinvID,
			@pmtType,
			@pmtRefDoc,
			@pmtAmt,
			@pmtCrtdDtTm,
			@pmtCrtdBy,
			@Updpmtt,
			@pmtUpdtBy,
			@pmtNotes)
END	
