/****** Object:  StoredProcedure [dbo].[sp_I_VwARinvoice]    Script Date: 8/29/2025 8:08:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      Michael Waldhelm
-- Create Date: 06/27/2025
-- Description: INSERT tblARinvoice
-- =============================================
ALTER   PROCEDURE [dbo].[sp_I_VwARinvoice]
(	    -- Add the parameters for the stored procedure here
        @invID				nvarchar(6),
        @invRsrvtnID		nvarchar(6),
        @invType			nvarchar(2),
        @invCstmID			nvarchar(8),
        @invRefDoc			nvarchar(6),
        @invPrcMtx			nvarchar(6),
        @invAmt				money,
		@invStatus			bit,
        @invCrtdDtTm		smalldatetime,
		@invCrtdBy			nvarchar(128),
		@invUpdt			smalldatetime,
		@invUpdtBy			nvarchar(128),
		@invClsDt			smalldatetime
)
AS	
BEGIN

INSERT INTO [dbo].[iVwARinvoice]
           ( [invID]
			,[invRsrvtnID]
			,[invType]
			,[invCstmID]
			,[invRefDoc]
			,[invPrcMtx]
			,[invAmt]
			,[invStatus]
			,[invCrtdDtTm]
			,[invCrtdBy]
			,[invUpdt]
			,[invUpdtBy]
			,[invClsDt])
     VALUES
           (@invID,
			@invRsrvtnID,
			@invType,
			@invCstmID,
			@invRefDoc,
			@invPrcMtx,
			@invAmt,
			@invStatus,
			@invCrtdDtTm,
			@invCrtdBy,
			@invUpdt,
			@invUpdtBy,
			@invClsDt)
END	
