/****** Object:  StoredProcedure [dbo].[sp_UpdatePayment]    Script Date: 8/29/2025 8:06:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[sp_UpdatePayment]
    @InvoiceID char(20),
    @CheckNo CHAR(16),
    @PaymentType CHAR(2),
    @ReferenceDoc VARCHAR(1000),
    @Amount money,
    @Notes NVARCHAR(MAX),
    @CreatedBy NVARCHAR(128)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO tblARpayments (
        pmtID,
        pmtinvID,
        pmtChkNo,
        PmtType,
        pmtRefDoc,
        pmtAmt,
        pmtNotes,
        pmtCrtdBy,
        pmtCrtdDtTm
    )
    VALUES (
        '2500001',
        @InvoiceID,
        @CheckNo,
        @PaymentType,
        @ReferenceDoc,
        @Amount,
        @Notes,
        @CreatedBy,
        GETDATE()
    );
END;
