/****** Object:  StoredProcedure [dbo].[spUpdPmtrtnSessionKey]    Script Date: 9/9/2025 12:26:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[spUpdPmtrtnSessionKey]
    @pmtRsrvtnID NVARCHAR(50),  -- Reservation ID
    @pmtTrnKey NVARCHAR(255),   -- Payment Transaction Key
    @pmtCardName NVARCHAR(255), -- Name on Card
    @pmtAttributes NVARCHAR(MAX), -- Payment Attributes
    @pmtPosSyncId NVARCHAR(255), -- POS Sync ID (Input)
    @pmtSessionKey NVARCHAR(1024) OUTPUT, -- Session Key (Output)
    @pmtFPAmt NVARCHAR(16) OUTPUT -- Payment Amount in cents (Output)
AS
BEGIN
    SET NOCOUNT ON;

    -- Update the record
    UPDATE [dbo].[tblRsvrtnPmt]
    SET 
        pmtTrnKey = @pmtTrnKey,
        pmtCardName = @pmtCardName,
        pmtAttributes = @pmtAttributes,
        pmtPosSyncId = @pmtPosSyncId, -- Use the input parameter for POS Sync ID
        pmtModDt = GETUTCDATE()
    WHERE 
        pmtRsrvtnID = @pmtRsrvtnID;

    -- Check if any rows were updated
    IF @@ROWCOUNT = 0
    BEGIN
        -- Handle case where no rows were updated (e.g., invalid Reservation ID)
        SET @pmtSessionKey = NULL;
		SET @pmtFPAmt = NULL;
        RETURN -1; -- Indicate failure
    END

    -- Retrieve the pmtSessionKey value from the updated record
    SELECT @pmtSessionKey = pmtSessionKey, @pmtFPAmt = REPLACE(CAST(pmtAmt AS VARCHAR(16)), '$', '')
    FROM [dbo].[tblRsvrtnPmt]
    WHERE pmtRsrvtnID = @pmtRsrvtnID;

    RETURN 0; -- Indicate success
END;
