/****** Object:  StoredProcedure [dbo].[spUpdPmtrtnSessionKey]    Script Date: 9/9/2025 12:35:17 AM ******/
/*-- Modified:250909      By: Will Henderson
  -- Description: Added default pmtTrnKey value of 'pending' to initial payment record when saving in FrdmPyCrtTrns Logic App
  This change was made to allow for multiple payments against the same Reservation ID.  The Pending pmtTrnKey is meant to allow
  processing against the initial transaction setup and avoid trash duplicate initialization records in the DB when a user doesn't
  complete a payment.  Any subsequent payments will use the intialized payment record for the reservation with 'pending' as the 
  key until we go to the actual payment screen in freedompay and attempt a payment capture. Then the pmtTrnkey will have been updated
  with an actual value and we will get the history of every attempted transaction capture for each reservation.  So if a reservation
  is paid twice both payments will register in the payments table.   This should allow for an automated void of duplicate payments if 
  workflow demands it.

*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[spUpdPmtrtnSessionKey]
    @pmtRsrvtnID NVARCHAR(50),  -- Reservation ID
    @pmtTrnKey NVARCHAR(255),   -- Payment Transaction Key
    @pmtCardName NVARCHAR(255), -- Name on Card
    @pmtAttributes NVARCHAR(MAX), -- Payment Attributes
    @pmtPosSyncId NVARCHAR(255), -- POS Sync ID (Input)
    @pmtSessionKey NVARCHAR(1024) OUTPUT, -- Session Key (Output)
    @pmtFPAmt NVARCHAR(16) OUTPUT -- Payment Amount in cents (Output)
AS
BEGIN
    SET NOCOUNT ON;
    --
    -- Update the record
    UPDATE [dbo].[tblRsvrtnPmt]
    SET 
        pmtTrnKey = @pmtTrnKey,
        pmtCardName = @pmtCardName,
        pmtAttributes = @pmtAttributes,
        pmtPosSyncId = @pmtPosSyncId, -- Use the input parameter for POS Sync ID
        pmtModDt = GETUTCDATE()
    WHERE 
        pmtRsrvtnID = @pmtRsrvtnID
    and pmtTrnKey = 'pending';
    --
    -- Check if any rows were updated
    IF @@ROWCOUNT = 0
    BEGIN
        -- Handle case where no rows were updated (e.g., invalid Reservation ID)
        SET @pmtSessionKey = NULL;
		SET @pmtFPAmt = NULL;
        RETURN -1; -- Indicate failure
    END
    --
    -- Retrieve the pmtSessionKey value from the updated record
    SELECT @pmtSessionKey = pmtSessionKey, @pmtFPAmt = REPLACE(CAST(pmtAmt AS VARCHAR(16)), '$', '')
    FROM [dbo].[tblRsvrtnPmt]
    WHERE pmtRsrvtnID = @pmtRsrvtnID
      and pmtTrnKey = @pmtTrnKey;
    --
    RETURN 0; -- Indicate success
END;