/****** Object:  Trigger [dbo].[trCCBS_vwHotelReferralForm]    Script Date: 9/13/2025 12:30:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   TRIGGER [dbo].[trCCBS_vwHotelReferralForm] 
   ON  [dbo].[vwHotelReferralForm] 
  Instead of INSERT
AS 
BEGIN TRY
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
    -- Insert statements for trigger here
	-- Insert the Customer Info Data into tblCstmr
	--print 'made it in'
	--insert into _TesttblHotelReferralForm select * from inserted 

INSERT INTO [dbo].[tblHtlRfrrl]
           ([htlrfrrl_htlId]
           ,[htlrfrrl_rsrvtn]
           ,[htlrfrrl_fnme]
           ,[htlrfrrl_lnme]
           ,[htlrfrrl_email]
           ,[htlrfrrl_phone]
           ,[htlrfrrl_gsts]
           ,[htlrfrrl_arrvl_al]
           ,[htlrfrrl_arrvl_flt]
           ,[htlrfrrl_arrvl_dt]
           ,[htlrfrrl_arrvl_tm]
           ,[htlrfrrl_dprtr_al]
           ,[htlrfrrl_dprtr_flt]
           ,[htlrfrrl_dprtr_dt]
           ,[htlrfrrl_dprtr_tm]
           ,[htlrfrrl_dprtr_shttltm]
           ,[htlrfrrl_crs_ln]
           ,[htlrfrrl_crs_shp]
           ,[htlrfrrl_crs_chkintm]
           ,[htlrfrrl_crs_sldt]
           ,[htlrfrrl_crs_shttltm]
           ,[htlrfrrl_spcl_instrctns]
           ,[htlrfrrl_whlchr]
           ,[htlrfrrl_whlchrfld])
SELECT [FormId]
      ,[ReservationNumber]
      ,[FirstName]
      ,[LastName]
      ,[Email]
      ,[Phone]
      ,[NumberOfGuests]
      ,[ArrivalAirline]
      ,[ArrivalFlightNumber]
      ,[ArrivalDate]
      ,[ArrivalTime]
      ,[DepartureAirline]
      ,[DepartureFlightNumber]
      ,[DepartureDate]
      ,[DepartureTime]
      ,[DepartureShuttleTime]
      ,[CruiseLine]
      ,[CruiseShip]
      ,[CruiseCheckInTime]
      ,[CruiseSailingDate]
      ,[CruiseShuttleTime]
      ,[SpecialInstructions]
      ,[Wheelchair]
      ,[FoldableWheelchair]
  FROM inserted

	--declare @RsrvtnID varchar(6)

	--SET @RsrvtnID = (SELECT RIGHT(CONVERT(VARCHAR(36), NEWID()), 6))

	--	INSERT INTO [dbo].[iVwGstInf]
	--		   ([Gst_fnme]
	--		   ,[Gst_lnme]
	--		   ,[Gst_eml]
	--		   ,[Gst_eml2]
	--		   ,[Gst_cphn1]
	--		   ,[Gst_cphn2]
	--		   ,[rsrvtn_id]
	--		   ,[Gst_user])
	--	select distinct
	--		   FirstName
	--		  ,LastName
	--		  ,Email
	--		  ,''
	--		  ,Phone
	--		  ,''
	--		  ,@RsrvtnID
	--		  ,FormId
	--	from
	--		  inserted

 --       -- Extract and Load RsrvtnDtl
 --   INSERT INTO [dbo].iVwRsvrtnDtl
	--		  (
 --          	    RsrvtnID,
	--			RsrvtnSrc,
	--			RsrvtnStatus,
	--			Gst_eml,	
	--			RsrvtnDscnt,
	--			RsrvtnFees,	
	--			RsrvtnTot,	
	--			RsrvtnActive,
	--			RsvrtnCreatedBy)
	--	select	distinct
 --          	    @RsrvtnID,
	--			FormId,
	--			'p',
	--			Email,	
	--			0,
	--			0,	
	--			0,	
	--			1,
	--			FormId				
	--	  from
	--			inserted
        -- Extract TripInfos
         --Process TripInfo
		-- INSERT INTO [dbo].[iVwTrps]
		--	   (trpID
		--	   ,trpRsrvtnID
		--	   ,trpPckDate
		--	   ,trpPckTm
		--	   ,trpPssngrs
		--	   ,trpLug
		--	   ,trpCst
		--	   ,trpPckLctnTpe
		--	   ,trpPckLctnUnqID
		--	   ,trpPckLctnSubUnqID
		--	   ,trpPckflght
		--	   ,trpPckLctnTm
		--	   ,trpDrpLctnTpe
		--	   ,trpDrpLctnUnqID
		--	   ,trpDrpLctnSubUnqID
		--	   ,trpDrpflght
		--	   ,trpDrpLctnTm
		--	   ,trpWC
		--	   ,trpWCfld
		--	   ,trpAddtnfo
		--	   ,trpCrtdBy)
		--select
		--		trpID
		--		,trpRsrvtnID
		--		,trpPckDate
		--		,trpPckTm
		--		,trpPssngrs
		--		,trpLug
		--		,trpCst
		--		,trpPckLctnTpe
		--		,trpPckLctnUnqID
		--		,trpPckLctnSubUnqID
		--		,trpPckflght
		--		,trpPckLctnTm
		--		,trpDrpLctnTpe
		--		,trpDrpLctnUnqID
		--		,trpDrpLctnSubUnqID
		--		,trpDrpflght
		--		,trpDrpLctnTm
		--		,trpWC
		--		,trpWCfld
		--		,trpAddtnfo
		--		,@UserEmail
		--from
		--	@tblJSONPayLoad
		--order by
		--	trpID asc
    END TRY
    BEGIN CATCH
        -- Handle the error
        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT
        DECLARE @ErrorProcedure NVARCHAR(128)
        DECLARE @ErrorLine INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE(),
            @ErrorProcedure = ERROR_PROCEDURE(),
            @ErrorLine = ERROR_LINE()

        -- Log the error
        EXEC LogError @ErrorMessage, @ErrorSeverity, @ErrorState, @ErrorProcedure, @ErrorLine

        -- Optionally, re-raise the error
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH
--select * from _TesttblHotelReferralForm