drop trigger if exists [dbo].[trg_IUtblTrps]
GO
/****** Object:  Trigger [dbo].[IU_trTrps]    Script Date: 8/29/2025 7:59:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER  TRIGGER [dbo].[trg_IUtblTrps]  
ON [dbo].[iVwTrps]  
INSTEAD OF INSERT  
AS  
BEGIN  
    SET NOCOUNT ON;  

    BEGIN TRY  
        DECLARE @Debug INT = 1;  

        -- Delete trips where trpID = -911 before merging new data
        DELETE FROM tblTrps  
        WHERE trpRsrvtnID IN (  
            SELECT trpRsrvtnID FROM inserted WHERE trpID = -911  
        );  

        IF @Debug = 1  
            PRINT 'DELETE operation executed successfully';  

        -- Merge operation for INSERT/UPDATE logic  
        MERGE INTO dbo.tblTrps AS target  
        USING (SELECT * FROM inserted WHERE trpID <> -911) AS source  
        ON target.trpID = source.trpID  
        AND target.trpRsrvtnID = source.trpRsrvtnID  

        WHEN MATCHED THEN  
            UPDATE SET  
				target.trpStatus		= source.trpStatus,
                target.trpPckDate       = source.trpPckDate,  
                target.trpPckTm         = ISNULL(source.trpPckTm, '00:00:00'),  
                target.trpPssngrs       = source.trpPssngrs,  
                target.trpLug           = source.trpLug,  
                target.trpCst           = source.trpCst,  
                target.trpPckLctnTpe    = source.trpPckLctnTpe,  
                target.trpPckLctnUnqID  = source.trpPckLctnUnqID,  
                target.trpPckLctnSubUnqID = source.trpPckLctnSubUnqID,  
                target.trpPckflght      = source.trpPckflght,  
                target.trpPckLctnTm     = source.trpPckLctnTm,  
                target.trpDrpLctnTpe    = source.trpDrpLctnTpe,  
                target.trpDrpLctnUnqID  = source.trpDrpLctnUnqID,  
                target.trpDrpLctnSubUnqID = source.trpDrpLctnSubUnqID,  
                target.trpDrpflght      = source.trpDrpflght,  
                target.trpDrpLctnTm     = source.trpDrpLctnTm,  
                target.trpWC            = source.trpWC,  
                target.trpWCfld         = source.trpWCfld,  
                target.trpAddtnfo       = source.trpAddtnfo,  
                target.trpUpdt          = GETUTCDATE(),  
                target.trpUpdtBy        = source.trpCrtdBy  

        WHEN NOT MATCHED THEN  
            INSERT (trpID, trpRsrvtnID, trpStatus, trpPckDate, trpPckTm, trpPssngrs, trpLug, trpCst, trpPckLctnTpe, trpPckLctnUnqID,  
                    trpPckLctnSubUnqID, trpPckflght, trpPckLctnTm, trpDrpLctnTpe, trpDrpLctnUnqID, trpDrpLctnSubUnqID,  
                    trpDrpflght, trpDrpLctnTm, trpWC, trpWCfld, trpAddtnfo, trpCrtdDtTm, trpCrtdBy)  
            VALUES (source.trpID, source.trpRsrvtnID, source.trpStatus, source.trpPckDate, ISNULL(source.trpPckTm, '00:00:00'), source.trpPssngrs, source.trpLug, source.trpCst,  
                    source.trpPckLctnTpe, source.trpPckLctnUnqID, source.trpPckLctnSubUnqID, source.trpPckflght, source.trpPckLctnTm, source.trpDrpLctnTpe,  
                    source.trpDrpLctnUnqID, source.trpDrpLctnSubUnqID, source.trpDrpflght, source.trpDrpLctnTm, source.trpWC, source.trpWCfld, source.trpAddtnfo,  
                    GETUTCDATE(), source.trpCrtdBy);  

        IF @Debug = 1  
            PRINT 'MERGE operation executed successfully'; 
    END TRY  
    BEGIN CATCH  
        -- Capture and log the error details  
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();  
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();  
        DECLARE @ErrorState INT = ERROR_STATE();  

        PRINT 'Error Occurred: ' + @ErrorMessage;  
        PRINT 'Severity: ' + CAST(@ErrorSeverity AS NVARCHAR(10));  
        PRINT 'State: ' + CAST(@ErrorState AS NVARCHAR(10));  

        -- Optional: Log error in an error tracking table  
        INSERT INTO dbo.ErrorLog (ErrorMessage, ErrorSeverity, ErrorState, ErrorTime)  
        VALUES (@ErrorMessage, @ErrorSeverity, @ErrorState, GETUTCDATE());  
    END CATCH  
END;
