ALTER TRIGGER [dbo].[trg_IUtblARinvoice]
ON [dbo].[iVwARinvoice]
INSTEAD OF INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Step 1: Reset invStatus = '0' for old records
        UPDATE a
        SET invStatus = '0'
        FROM tblARinvoice a
        WHERE invStatus = 2
          AND CAST(invCrtdDtTm AS date) <> CAST(DATEADD(HOUR, -5, GETUTCDATE()) AS date);

        -- Step 2: Update existing invoices
        UPDATE r
        SET
            r.invAmt = CASE WHEN i.invStatus = 2 THEN i.invAmt + r.invAmt ELSE i.invAmt END,
            r.invStatus = CASE WHEN i.invType = 'DM' THEN 0 ELSE i.invStatus END,
            r.invRefDoc = CASE WHEN i.invStatus = 2 THEN i.invRefDoc + ',' + r.invRefDoc ELSE i.invRefDoc END,
            r.invUpdt = GETUTCDATE(),
            r.invUpdtBy = CASE WHEN i.invStatus = 2 THEN i.invCrtdBy ELSE i.invUpdtBy END,
            r.invClsDt = i.invClsDt
        FROM tblARinvoice r
        JOIN inserted i ON i.invID = r.invID
        WHERE EXISTS (
            SELECT 1 FROM tblARinvoice a
            WHERE a.invNbr = i.invNbr AND a.invType = i.invType AND a.invStatus = 2
        );

        -- Step 3: Insert new invoices
        INSERT INTO tblARinvoice (
            invID, invNbr, invType, invCstmID, invRefDoc, invPrcMtx,
            invAmt, invStatus, invCrtdDtTm, invCrtdBy
        )
        SELECT
            CAST(NEXT VALUE FOR dbo.Seq_ARInvoiceID AS VARCHAR(8)),
            i.invNbr,
            i.invType,
            CASE WHEN i.invStatus = 2 THEN i.invCstmID ELSE CAST(r.RsrvtnCstmrID AS VARCHAR(50)) END,
            CASE
                WHEN i.invCrtdBy = 'Web' THEN 
                    RIGHT(FORMAT(t.trpPckDate, 'yy'), 2) +
                    RIGHT('000' + CAST(DATEPART(DAYOFYEAR, t.trpPckDate) AS VARCHAR), 3) +
                    r.RsrvtnSrc +
                    CAST(t.trpPckLctnTpe AS VARCHAR) +
                    CAST(t.trpDrpLctnTpe AS VARCHAR)
                ELSE ISNULL(i.invRefDoc, '')
            END,
            ISNULL(i.invPrcMtx, ''),
            CASE
                WHEN i.invCrtdBy = 'Web' THEN p.pmtAmt
                ELSE i.invAmt
            END,
            CASE
                WHEN i.invCrtdBy = 'Web' THEN 1
                WHEN i.invType = 'DM' THEN 0
                ELSE ISNULL(i.invStatus, 0)
            END,
            GETUTCDATE(),
            i.invCrtdBy
        FROM inserted i
        JOIN tblRsvrtns r ON r.RsrvtnID = i.invRefDoc
        LEFT JOIN tblRsvrtnPmt p ON p.pmtRsrvtnID = i.invRefDoc
        JOIN tblTrps t ON t.trpRsrvtnID = r.RsrvtnID
        WHERE t.trpID = 1
          AND NOT EXISTS (
              SELECT 1 FROM tblARinvoice a WHERE a.invNbr = i.invNbr AND a.invType = i.invType
          );

        -- Step 4: Insert payments if created by Web
        INSERT INTO iVwARpayments (
            pmtinvID, pmtType, pmtRefDoc, pmtAmt, pmtCrtdBy
        )
        SELECT 
            i.invNbr,
            'FP',
            p.pmtRequestID,
            p.pmtAmt,
            i.invCrtdBy
        FROM inserted i
        JOIN tblRsvrtnPmt p ON p.pmtRsrvtnID = i.invRefDoc
        WHERE i.invCrtdBy = 'Web';

        COMMIT;
    END TRY
    BEGIN CATCH
        ROLLBACK;

        INSERT INTO dbo.ErrorLog (
            ErrorMessage, ErrorSeverity, ErrorState, ErrorProcedure, ErrorLine
        )
        VALUES (
            ERROR_MESSAGE(),
            ERROR_SEVERITY(),
            ERROR_STATE(),
            ERROR_PROCEDURE(),
            ERROR_LINE()
        );
    END CATCH
END
