/****** Object:  Trigger [dbo].[trg_IUtblARpayments]    Script Date: 8/29/2025 7:58:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER TRIGGER [dbo].[trg_IUtblARpayments]
ON [dbo].[iVwARpayments]
INSTEAD OF INSERT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- 🚫 Validate: No invoice in pmtRefDoc has already been paid
        IF EXISTS (
            SELECT 1
            FROM inserted i
            CROSS APPLY STRING_SPLIT(i.pmtRefDoc, ',') AS ref
            JOIN tblARpayments p ON p.pmtinvID = TRIM(ref.value)
        )
        BEGIN
            RAISERROR('One or more invoices in pmtRefDoc already have recorded payments. Only one payment per invoice is allowed.', 16, 1);
            RETURN;
        END

        -- 🔄 Update existing payment if match found
        IF EXISTS (
            SELECT 1
            FROM tblARpayments p
            JOIN inserted i ON i.pmtinvID = p.pmtinvID
                          AND i.pmtType = p.pmtType
                          AND i.pmtID = p.pmtID
        )
        BEGIN
            UPDATE r
            SET r.pmtinvID   = i.pmtinvID,
                r.pmtType    = i.pmtType,
                r.pmtRefDoc  = i.pmtRefDoc,
                r.pmtChkNo   = i.pmtChkNo,
                r.pmtAmt     = i.pmtAmt,
                r.pmtUpdt    = GETUTCDATE(),
                r.pmtUpdtBy  = i.pmtUpdtBy,
                r.pmtNotes   = i.pmtNotes
            FROM dbo.tblARpayments r
            JOIN inserted i ON i.pmtinvID = r.pmtinvID;
        END
        ELSE
        BEGIN
            -- 🧾 Insert new payment
            INSERT INTO dbo.tblARpayments (
                pmtID,
                pmtinvID,
                pmtChkNo,
                pmtType,
                pmtRefDoc,
                pmtAmt,
                pmtCrtdDtTm,
                pmtCrtdBy,
                pmtNotes
            )
            SELECT
                CAST(NEXT VALUE FOR dbo.Seq_ARPaymentID AS VARCHAR(8)),
                i.pmtinvID,
                i.pmtChkNo,
                i.pmtType,
                i.pmtRefDoc,
                i.pmtAmt,
                GETUTCDATE(),
                i.pmtCrtdBy,
                i.pmtNotes
            FROM inserted i
            WHERE NOT EXISTS (
                SELECT 1
                FROM tblARpayments p
                WHERE p.pmtinvID = i.pmtinvID AND p.pmtType = i.pmtType
            );

            -- ✅ Close invoices listed in pmtRefDoc
            UPDATE inv
            SET inv.invStatus   = 1,  -- Assuming 1 = Closed
                inv.invClsDt    = GETUTCDATE(),
                inv.invUpdtBy   = i.pmtCrtdBy
            FROM tblARInvoice inv
            JOIN inserted i ON i.pmtinvID = ''
            CROSS APPLY STRING_SPLIT(i.pmtRefDoc, ',') AS ref
            WHERE inv.invNbr = TRIM(ref.value);

            -- ✅ Close single-invoice payment if applicable
            UPDATE inv
            SET inv.invStatus   = 1,
                inv.invClsDt    = GETUTCDATE(),
                inv.invUpdtBy   = i.pmtCrtdBy
            FROM tblARInvoice inv
            JOIN inserted i ON inv.invNbr = i.pmtinvID
            WHERE i.pmtinvID <> '';
        END
    END TRY

    BEGIN CATCH
        -- 🚨 Log error to existing ErrorLog table
        INSERT INTO dbo.ErrorLog (
--            ErrorNumber,
            ErrorSeverity,
            ErrorState,
            ErrorProcedure,
            ErrorLine,
            ErrorMessage,
            ErrorTime
        )
        VALUES (
            ERROR_SEVERITY(),
            ERROR_STATE(),
            ERROR_PROCEDURE(),
            ERROR_LINE(),
            ERROR_MESSAGE(),
            GETUTCDATE()
        );

        -- ❌ Rethrow error to surface it
        THROW;
    END CATCH
END
