/****** Object:  Trigger [dbo].[trg_I_tblHtlRfrrl]    Script Date: 9/13/2025 12:34:23 AM ******/
/*
-----	2025/09/13 Will Henderson Added default trpStatus = 'p'

*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   TRIGGER [dbo].[trg_I_tblHtlRfrrl] 
   ON  [dbo].[tblHtlRfrrl] 
   AFTER INSERT
AS 
BEGIN 
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

BEGIN TRY
	declare @RsrvtnID varchar(6)
	declare	@NewID INT

	    -- Get the auto-increment value from the INSERTED table
    SELECT @NewID = htlrfrrl_id
    FROM INSERTED;


	SET @RsrvtnID = (SELECT RIGHT(CONVERT(VARCHAR(36), NEWID()), 6))

		INSERT INTO [dbo].[iVwGstInf]
			   ([Gst_fnme]
			   ,[Gst_lnme]
			   ,[Gst_eml]
			   ,[Gst_eml2]
			   ,[Gst_cphn1]
			   ,[Gst_cphn2]
			   ,[rsrvtn_id]
			   ,[Gst_user])
		select distinct
			   htlrfrrl_fnme
			  ,htlrfrrl_lnme
			  ,htlrfrrl_email
			  ,''
			  ,htlrfrrl_phone
			  ,''
			  ,@RsrvtnID
			  ,htlrfrrl_htlId
		from
			  inserted

        -- Extract and Load RsrvtnDtl
    INSERT INTO [dbo].iVwRsvrtnDtl
			  (
           	    RsrvtnID,
				RsrvtnSrc,
				RsrvtnStatus,
				Gst_eml,	
				RsrvtnDscnt,
				RsrvtnFees,	
				RsrvtnTot,	
				RsrvtnActive,
				RsvrtnCreatedBy)
		select	distinct
           	    @RsrvtnID,
				htlrfrrl_htlId,
				'p',
				htlrfrrl_email,	
				0,
				0,	
				0,	
				1,
				htlrfrrl_htlId				
		  from
				inserted
        -- Extract Trips Info 
         --Process Trip 1 Info (for Hotel Referrals will always be 'AP' to 'H')
		 INSERT INTO [dbo].[iVwTrps]
			   (trpID
			   ,trpRsrvtnID
			   ,trpStatus
			   ,trpPckDate
			   ,trpPckTm
			   ,trpPssngrs
			   ,trpLug
			   ,trpCst
			   ,trpPckLctnTpe
			   ,trpPckLctnUnqID
			   ,trpPckLctnSubUnqID
			   ,trpPckflght
			   ,trpPckLctnTm
			   ,trpDrpLctnTpe
			   ,trpDrpLctnUnqID
			   ,trpDrpLctnSubUnqID
			   ,trpDrpflght
			   ,trpDrpLctnTm
			   ,trpWC
			   ,trpWCfld
			   ,trpAddtnfo
			   ,trpCrtdBy)
		select
				1
				,@RsrvtnID
				,'p'
				,htlrfrrl_arrvl_dt
				,''
				,htlrfrrl_gsts
				,0
				,0    --Need to ask this question to janet and/or eric
				,'AP'
				,'MCO'
				,htlrfrrl_arrvl_al
				,htlrfrrl_arrvl_flt
				,htlrfrrl_arrvl_tm
				,'H'
				,htlrfrrl_htlId
				,''
				,''
				,''
				,htlrfrrl_whlchr
				,htlrfrrl_whlchrfld
				,htlrfrrl_spcl_instrctns
				,htlrfrrl_htlId
		from
				inserted
         --Process Trip 1 Info (for Hotel Referrals will always be 'AP' to 'H')
		 INSERT INTO [dbo].[iVwTrps]
			   (trpID
			   ,trpRsrvtnID
			   ,trpStatus
			   ,trpPckDate
			   ,trpPckTm
			   ,trpPssngrs
			   ,trpLug
			   ,trpCst
			   ,trpPckLctnTpe
			   ,trpPckLctnUnqID
			   ,trpPckLctnSubUnqID
			   ,trpPckflght
			   ,trpPckLctnTm
			   ,trpDrpLctnTpe
			   ,trpDrpLctnUnqID
			   ,trpDrpLctnSubUnqID
			   ,trpDrpflght
			   ,trpDrpLctnTm
			   ,trpWC
			   ,trpWCfld
			   ,trpAddtnfo
			   ,trpCrtdBy)
		select
				2
				,@RsrvtnID
				,'p'
				,htlrfrrl_dprtr_dt
				,htlrfrrl_dprtr_shttltm
				,htlrfrrl_gsts
				,0
				,0    --Need to ask this question to janet and/or eric about costs for Referrals
				,'H'
				,htlrfrrl_htlId
				,''
				,''
				,''
				,'AP'
				,'MCO'
				,htlrfrrl_dprtr_al
				,htlrfrrl_dprtr_flt
				,htlrfrrl_dprtr_tm
				,htlrfrrl_whlchr
				,htlrfrrl_whlchrfld
				,htlrfrrl_spcl_instrctns
				,htlrfrrl_htlId
		from
				inserted		--	@tblJSONPayLoad
		--order by
		--	trpID asc
    END TRY
    BEGIN CATCH
        -- Handle the error
        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT
        DECLARE @ErrorProcedure NVARCHAR(128)
        DECLARE @ErrorLine INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE(),
            @ErrorProcedure = ERROR_PROCEDURE(),
            @ErrorLine = ERROR_LINE()

        -- Log the error
        EXEC LogError @ErrorMessage, @ErrorSeverity, @ErrorState, @ErrorProcedure, @ErrorLine

        -- Optionally, re-raise the error
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH
END 
