/****** Object:  Trigger [dbo].[trg_IUtblARinvoice]    Script Date: 8/29/2025 7:56:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER   TRIGGER [dbo].[trg_IUtblARinvoice]
ON [dbo].[iVwARinvoice]
INSTEAD OF INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    --DECLARE @EnableDiagnostics BIT = 0;

    BEGIN TRY
        --BEGIN TRANSACTION;

        ----IF @EnableDiagnostics = 1
        ----BEGIN
        ----    INSERT INTO dbo.DebugTriggerLog (Message)
        ----    VALUES ('trg_IUtblARinvoice fired');
        ----END;

        -- Reset outdated invoices
        UPDATE a
        SET invStatus = 0
        FROM tblARinvoice a
        WHERE invStatus = 2
          AND CAST(invCrtdDtTm AS DATE) <> CAST(DATEADD(HOUR, -5, GETUTCDATE()) AS DATE);

        -- Update matching invoices
        UPDATE r
        SET
            r.invAmt = CASE WHEN i.invStatus = 2 THEN i.invAmt + r.invAmt ELSE i.invAmt END,
            r.invStatus = CASE WHEN i.invType = 'DM' THEN 0 ELSE r.invStatus END,
            r.invRefDoc = CASE WHEN i.invStatus = 2 THEN i.invRefDoc + ',' + r.invRefDoc ELSE i.invRefDoc END,
            r.invUpdt = GETUTCDATE(),
            r.invUpdtBy = CASE WHEN i.invStatus = 2 THEN i.invCrtdBy ELSE r.invUpdtBy END,
            r.invClsDt = i.invClsDt,
            r.invNotes = i.invNotes
        FROM tblARinvoice r
        JOIN inserted i ON i.invID = r.invID
        WHERE EXISTS (
            SELECT 1
            FROM tblARinvoice a
            WHERE a.invNbr = i.invNbr AND a.invType = i.invType AND a.invStatus = 2 and a.invRefDoc NOT LIKE '%' + i.invRefDoc + '%'
        );

        -- Insert new invoices
        INSERT INTO tblARinvoice (
            invID, invNbr, invType, invCstmID, invRefDoc, invPrcMtx,
            invAmt, invStatus, invCrtdDtTm, invCrtdBy, invNotes
        )
        SELECT
            CAST(NEXT VALUE FOR dbo.Seq_ARInvoiceID AS VARCHAR(8)),
            i.invNbr,
            i.invType,
            CASE WHEN i.invStatus = 2 THEN i.invCstmID ELSE CAST(r.RsrvtnCstmrID AS VARCHAR(50)) END,
            CASE WHEN i.invStatus = 2
                        THEN i.invRefDoc
                        ELSE dbo.fnBuildInvRefDoc(i.invNbr,t.trpPckDate, r.RsrvtnSrc, t.trpPckLctnTpe, t.trpDrpLctnTpe)
                        END,
            ISNULL(i.invPrcMtx, ''),
            i.invAmt,
            dbo.fnNormalizeInvStatus(i.invType, i.invStatus),
            GETUTCDATE(),
            i.invCrtdBy,
            i.invNotes
        FROM inserted i
        JOIN tblRsvrtns r ON r.RsrvtnID = case 
                                            when i.invStatus = 2
                                            then i.invRefDoc
                                            else i.invNbr
                                            end
        LEFT JOIN tblRsvrtnPmt p ON p.pmtRsrvtnID = r.RsrvtnID
        JOIN tblTrps t ON t.trpRsrvtnID = r.RsrvtnID
        WHERE t.trpID = (Select top 1 t.trpID from tblTrps t where t.trpRsrvtnID = r.RsrvtnID order by t.trpID asc)
          AND NOT EXISTS (
              SELECT 1
              FROM tblARinvoice a
              WHERE (a.invNbr = i.invNbr AND a.invType = i.invType)
                 or (a.invRefDoc LIKE '%' + i.invRefDoc + '%')
          );

         -- select * from inserted;
        ---- Diagnostics output
        --IF @EnableDiagnostics = 1
        --BEGIN
        --    SELECT
        --        i.invNbr,
        --        i.invType,
        --        CASE WHEN i.invStatus = 2 THEN i.invCstmID ELSE CAST(r.RsrvtnCstmrID AS VARCHAR(50)) END AS invCstmID,
        --        CASE WHEN i.invStatus = 2
        --                THEN i.invRefDoc
        --                else dbo.fnBuildInvRefDoc(i.invNbr,t.trpPckDate, r.RsrvtnSrc, t.trpPckLctnTpe, t.trpDrpLctnTpe) 
        --                end AS invRefDoc,
        --       ISNULL(i.invPrcMtx, '') AS invPrcMtx,
        --        i.invAmt,
        --        dbo.fnNormalizeInvStatus(i.invType, i.invStatus) AS invStatus,
        --        GETUTCDATE() AS invCrtdDtTm,
        --        i.invCrtdBy,
        --        i.invNotes
        --    FROM inserted i
        --    left JOIN tblRsvrtns r ON r.RsrvtnID = case 
        --                                    when i.invStatus = 2
        --                                    then i.invRefDoc
        --                                    else i.invNbr
        --                                    end
        --    LEFT JOIN tblRsvrtnPmt p ON p.pmtRsrvtnID = r.RsrvtnID
        --    left JOIN tblTrps t ON t.trpRsrvtnID = r.RsrvtnID
        --    WHERE t.trpID = 1;
        --    --  AND NOT EXISTS (
        --      --    SELECT 1
        --        --  FROM tblARinvoice a
        --          --WHERE a.invNbr = i.invNbr AND a.invType = i.invType
        --      --);

        --    --SELECT * FROM inserted;
        --END;

        -- Insert payments
        INSERT INTO iVwARpayments (
           pmtID, pmtinvID, pmtType, pmtRefDoc, pmtAmt, pmtCrtdBy
        )
        SELECT 
            isnull(a.pmtID,''),
            i.invNbr,
            'FP',
            p.pmtRequestID,
            p.pmtAmt,
            i.invCrtdBy
        FROM inserted i
        JOIN tblRsvrtnPmt p ON p.pmtRsrvtnID = i.invNbr
        left join tblARpayments a on a.pmtinvID = i.invNbr
        WHERE i.invCrtdBy in ('Web','web','agent');

    --    COMMIT;
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0 ROLLBACK;

        BEGIN
            INSERT INTO dbo.ErrorLog (
                ErrorMessage, ErrorSeverity, ErrorState,
                ErrorProcedure, ErrorLine, ErrorTime
            )
            VALUES (
                ERROR_MESSAGE(),
                ERROR_SEVERITY(),
                ERROR_STATE(),
                ERROR_PROCEDURE(),
                ERROR_LINE(),
                GETUTCDATE()
            );
            RETURN; -- prevent propagation
        END
    END CATCH
END;
