/****** Object:  UserDefinedFunction [dbo].[udfGetPaidInvoicesAsCSV]    Script Date: 8/29/2025 8:05:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER FUNCTION [dbo].[udfGetPaidInvoicesAsCSV] (
    @invoiceList NVARCHAR(MAX)
)
RETURNS NVARCHAR(MAX)
AS
BEGIN
    DECLARE @invoice TABLE (invID VARCHAR(20));
    DECLARE @token NVARCHAR(50), @pos INT = 0, @nextPos INT;

    WHILE CHARINDEX(',', @invoiceList, @pos + 1) > 0
    BEGIN
        SET @nextPos = CHARINDEX(',', @invoiceList, @pos + 1);
        SET @token = LTRIM(RTRIM(SUBSTRING(@invoiceList, @pos + 1, @nextPos - @pos - 1)));
        INSERT INTO @invoice VALUES (@token);
        SET @pos = @nextPos;
    END

    SET @token = LTRIM(RTRIM(SUBSTRING(@invoiceList, @pos + 1, LEN(@invoiceList))));
    IF @token <> '' INSERT INTO @invoice VALUES (@token);

    DECLARE @paidList NVARCHAR(MAX);

    SELECT @paidList = STUFF((
        SELECT ', ' + invID
        FROM (
            SELECT DISTINCT paid.value AS invID
            FROM tblARpayments p
            CROSS APPLY STRING_SPLIT(p.pmtRefDoc, ',') AS paid
            WHERE paid.value IN (SELECT invID FROM @invoice)
        ) AS dedup
        FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'), 1, 2, '');

    RETURN ISNULL(@paidList, '');
END