/****** Object:  UserDefinedFunction [dbo].[udfGetLctnDsc]    Script Date: 8/24/2025 9:53:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Will Henderson
-- Create date: 05/17/2025
-- Description:	Return Location Description
-- =============================================
-- Select dbo.udfGetLctnDsc('DL')
ALTER     FUNCTION [dbo].[udfGetLctnDsc]
(
    @LCTNID NVARCHAR(16)
)
RETURNS VARCHAR(64)
AS
BEGIN
    DECLARE @Result VARCHAR(128);

   
        SELECT @Result = lctn_nme 
        FROM [dbo].[tblLctns]
        WHERE lctn_UnqID = @LCTNID
   set @Result = isnull(@Result,'')
    RETURN @Result;
END;