-- STEP 1: Drop indexes if they exist
IF EXISTS (
    SELECT * FROM sys.indexes 
    WHERE name = 'IX_tblCstmrs_CstmrNumPh1' AND object_id = OBJECT_ID('dbo.tblCstmrs')
)
    DROP INDEX IX_tblCstmrs_CstmrNumPh1 ON dbo.tblCstmrs;
GO

IF EXISTS (
    SELECT * FROM sys.indexes 
    WHERE name = 'IX_tblCstmrs_CstmrNumPh2' AND object_id = OBJECT_ID('dbo.tblCstmrs')
)
    DROP INDEX IX_tblCstmrs_CstmrNumPh2 ON dbo.tblCstmrs;
GO

-- STEP 2: Drop computed columns if they exist
IF EXISTS (
    SELECT * FROM sys.columns 
    WHERE name = 'CstmrNumPh1' AND object_id = OBJECT_ID('dbo.tblCstmrs')
)
    ALTER TABLE dbo.tblCstmrs DROP COLUMN CstmrNumPh1;
GO

IF EXISTS (
    SELECT * FROM sys.columns 
    WHERE name = 'CstmrNumPh2' AND object_id = OBJECT_ID('dbo.tblCstmrs')
)
    ALTER TABLE dbo.tblCstmrs DROP COLUMN CstmrNumPh2;
GO

-- STEP 3: Drop the function
IF OBJECT_ID('dbo.UDFRemoveNonNumeric', 'FN') IS NOT NULL
    DROP FUNCTION dbo.UDFRemoveNonNumeric;
GO

-- STEP 4: Recreate the function
CREATE FUNCTION [dbo].[UDFRemoveNonNumeric]
(
    @Input NVARCHAR(MAX)
)
RETURNS NVARCHAR(MAX)
WITH SCHEMABINDING, RETURNS NULL ON NULL INPUT
AS
BEGIN
    DECLARE @Result NVARCHAR(MAX) = '';
    DECLARE @Index INT = 1;
    DECLARE @Char NCHAR(1);

    WHILE @Index <= LEN(@Input)
    BEGIN
        SET @Char = SUBSTRING(@Input, @Index, 1);
        IF @Char COLLATE Latin1_General_BIN LIKE '[0-9]'
        BEGIN
            SET @Result = @Result + @Char;
        END
        SET @Index = @Index + 1;
    END

    RETURN @Result;
END
GO

-- STEP 5: Add computed columns as PERSISTED
ALTER TABLE dbo.tblCstmrs ADD
    CstmrNumPh1 AS TRY_CAST(dbo.UDFRemoveNonNumeric(CstmrPhn1) AS bigint) PERSISTED,
    CstmrNumPh2 AS TRY_CAST(dbo.UDFRemoveNonNumeric(CstmrPhn2) AS bigint) PERSISTED;
GO

-- STEP 6: Recreate indexes
CREATE NONCLUSTERED INDEX IX_tblCstmrs_CstmrNumPh1 ON dbo.tblCstmrs(CstmrNumPh1);
GO

CREATE NONCLUSTERED INDEX IX_tblCstmrs_CstmrNumPh2 ON dbo.tblCstmrs(CstmrNumPh2);
GO