CREATE OR ALTER FUNCTION [dbo].[udfRsrvtnSrchV250807]
(
    @SrchPrm NVARCHAR(24) = NULL,
    @SrchVal NVARCHAR(128) = NULL
)
RETURNS TABLE
AS
RETURN
(
    -- Preprocess phone number if needed
    WITH CleanInput AS (
        SELECT 
            SrchPrm = ISNULL(@SrchPrm, '*'),
            SrchVal = ISNULL(@SrchVal, '*'),
            CleanPhone = TRY_CAST(dbo.UDFRemoveNonNumeric(@SrchVal) AS BIGINT)
    )
    SELECT 
        c.CstmrFllNme AS FullName,
        c.CstmrEml AS Email,
        c.CstmrPhn1 AS Phone,
        r.RsrvtnID AS RsrvtnCode,
        r.RsrvtnSrc,
        r.RsrvtnStatus,
        CONVERT(VARCHAR(10), r.RsrvtnDateTm, 101) AS [Date], -- MM/DD/YYYY
        CONVERT(VARCHAR(10), FirstPendingTrip.trpPckDate, 101) AS TripDate,
        CONCAT('$', r.RsrvtnTot) AS Cost,
        Srchvrtxt = ISNULL(l.lctn_dsc, ''),
        Stshvrtxt = ISNULL(r.RsrvtnStatusDsc, '')
    FROM 
        tblRsvrtns r
    INNER JOIN 
        tblCstmrs c ON c.CstmrID = r.RsrvtnCstmrID
    LEFT JOIN 
        tblLctns l ON l.lctn_UnqID = r.RsrvtnSrc
    CROSS APPLY 
        CleanInput ci
    OUTER APPLY (
        SELECT TOP 1 t.trpPckDate
        FROM tblTrps t
        WHERE t.trpRsrvtnID = r.RsrvtnID --AND t.trpStatus = 'Pending'
        ORDER BY t.trpPckDate
    ) AS FirstPendingTrip
    WHERE
        (
            ci.SrchPrm = 'RsrvtnID' AND (
                ci.SrchVal = '*' OR
                r.RsrvtnID = ci.SrchVal OR
                r.RsrvtnID LIKE '%' + ci.SrchVal + '%'
            )
        )
        OR (
            ci.SrchPrm = 'Gst_eml' AND (
                ci.SrchVal = '*' OR
                c.CstmrEml = ci.SrchVal OR
                c.CstmrEml LIKE '%' + ci.SrchVal + '%'
            )
        )
        OR (
            ci.SrchPrm = 'Gst_Phone' AND (
                ci.SrchVal = '*' OR
                c.CstmrNumPh1 = ci.CleanPhone OR
                c.CstmrNumPh1 LIKE '%' + CAST(ci.CleanPhone AS VARCHAR)
            )
        )
        OR (
            ci.SrchPrm = 'Gst_Name' AND (
                ci.SrchVal = '*' OR
                c.CstmrFllNme LIKE '%' + ci.SrchVal + '%'
            )
        )
        OR (
            ci.SrchPrm = 'RsrvtnSrc' AND (
                ci.SrchVal = '*' OR
                r.RsrvtnSrc = ci.SrchVal OR
                r.RsrvtnSrc LIKE '%' + ci.SrchVal + '%' OR
                ISNULL(l.lctn_dsc, '') LIKE '%' + ci.SrchVal + '%'
            )
        )
        OR (
            ci.SrchPrm = 'RsrvtnSts' AND (
                ci.SrchVal = '*' OR
                r.RsrvtnStatus = ci.SrchVal OR
                r.RsrvtnStatus LIKE '%' + ci.SrchVal + '%' OR
                ISNULL(r.RsrvtnStatusDsc, '') LIKE '%' + ci.SrchVal + '%'
            )
        )
        OR (
            ci.SrchPrm = 'Trp_Start' AND (
                FirstPendingTrip.trpPckDate = cast(ci.SrchVal as DATE)
            )
        )
        OR (
            ci.SrchPrm = '*'
        )
)