/****** Object:  UserDefinedFunction [dbo].[udfRsrvtnSrch]    Script Date: 8/8/2025 10:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Will Henderson
-- Create date: 09/14/2024
-- Description:	Search Query by Multiple Columns
-- =============================================
-- Change date: 12/23/2024
-- Description:  Added the ability to searh on Reservation Source as 
--               well as hover text to be displayed in front end for
--               the description of the Reservation Source
-- =============================================
-- Change date: 12/25/2024
-- Description:  Added the ability to searh on Reservation Status as 
--               well as hover text to be displayed in front end for
--               the description of the Reservation Status
-- Select * from [udfRsrvtnSrchV250807]('Gst_Eml','lmwill99@gmail.com')
-- Select * from [udfRsrvtnSrchV250807]('Gst_Phone','4073830906')
-- Select * from [udfRsrvtnSrchV250807]('Gst_Name','will')
ALTER   FUNCTION [dbo].[udfRsrvtnSrch]--V241213]
(
	@SrchPrm nvarchar(24) = null,
	@SrchVal nvarchar(128) = null

)
RETURNS TABLE 
AS
RETURN 
( --dbo.UDFRemoveNonNumeric(cstmrphn1)
select 
		 c.CstmrFllNme as FullName
		,c.CstmrEml as Email
		,c.CstmrPhn1 as Phone
		,r.RsrvtnID as RsrvtnCode
		,r.RsrvtnSrc
		,r.RsrvtnStatus
		,FORMAT(r.RsrvtnDateTm, 'MM-dd-yyyy') as [Date]
		,concat('$',r.RsrvtnTot) as Cost
		,Srchvrtxt = isnull(l.lctn_dsc,'')
		,StsHvrTxt = isnull(r.RsrvtnStatusDsc,'')
  from 
		tblRsvrtns r
  join
		tblCstmrs c on c.CstmrID = r.RsrvtnCstmrID
left join 
		tblLctns l on l.lctn_UnqID = r.RsrvtnSrc
 where
		case isnull(@SrchPrm,'*')
		when 'RsrvtnID' then case 
							 when RsrvtnID = @SrchVal then 1 
							 when @SrchVal = '*' then 1 
							 when RsrvtnID like concat('%',@SrchVal, '%') then 1 else 0 end
		when 'Gst_eml'	then case 
							 when c.cstmreml = @SrchVal then 1 
							 when @SrchVal = '*' then 1
							 when c.CstmrEml like concat('%',@SrchVal,'%') then 1 else 0 end
		when 'Gst_Phone' then case 
							 when @SrchVal = '*' then 1 
							 when c.Cstmrnumph1 = TRY_CAST(dbo.UDFRemoveNonNumeric(@SrchVal) AS BIGINT) then 1
							 when c.CstmrNumPh1 like concat('%',dbo.UDFRemoveNonNumeric(@SrchVal)) then 1
							 else 0 end
		when 'Gst_Name' then case 
							 when @SrchVal = '*' then 1 
							 when c.CstmrFllNme like concat('%',@SrchVal,'%') then 1 else 0 end
		when 'RsrvtnSrc' then case
							 when r.RsrvtnSrc = @srchVal then 1
							 when @SrchVal = '*' then 1 
							 when r.RsrvtnSrc like concat('%',@SrchVal,'%') then 1 
							 when isnull(l.lctn_dsc,'') like concat('%',@SrchVal,'%') then 1 else 0 end
		when 'RsrvtnSts' then case
							 when r.RsrvtnStatus = @SrchVal then 1 
							 when @SrchVal = '*' then 1 
							 when r.RsrvtnStatus like concat('%',@SrchVal,'%') then 1 
							 when isnull(r.RsrvtnStatusDsc,'') like concat('%',@SrchVal,'%') then 1 else 0 end
		when '*'		 then 1
		else 0 end = 1
)
