@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style=" margin-top: 100px;">
    <h1 class="display-4">Welcome to <a href="https://www.cocoabeachsurf.com/" title="Cocoa Beach Dashboard">Cocoa Beach Dashboard</a> </h1>

</div>
