<style>
    .body1 {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
    }

    .form1 {
        max-width: 600px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }


    h1 {
        background-color: #333;
        color: #fff;
        padding: 20px 0;
        text-align: center;
        margin: 0;
    }

    h2 {
        color: #333;
        font-size: 24px;
        margin-bottom: 20px;
    }
    .label1 {
        display: inline-grid;
        margin: 15px 0 5px;
    }

    label2 {
        display: inline-grid;
        margin: 0px 0 0px;
    }

   


    label {
        display: inline-grid;
        margin: 15px 0 5px;
    }



    label3 {
        color: red;
        display: inline-grid;
        margin: 0px 0 0px;
    }

    label4 {
        font-size: 12px;
        display: inline
    }

    input[type='text'],
    input[type='tel'],
    input[type='email'],
    input[type='date'],
    input[type='time'],
    input[type='number'],
    select,
    textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type='radio'],
    input[type='checkbox'] {
        margin-right: 10px;
    }
        /* Custom checkbox style */
        input[type="checkbox"].red-border {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            width: 10px; /* Width and height can be adjusted as needed */
            height: 10px;
            border: 1px solid red; /* Red border */
            cursor: default;
        }

    textarea {
        height: 100px;
    }

    button {
        background-color: #5cb85c;
        color: #fff;
        border: none;
        border-radius: 4px;
        padding: 10px 20px;
        cursor: pointer;
    }

        button:hover {
            background-color: #4cae4c;
        }

    #verified-info {
        color: red;
        border: 1px solid;
        border-spacing: 0px;
        border-color: red;
        margin: 0px 0 0px;
        padding: 0px;
        float: right;
    }

    #verified-info-block {
        display: block;
        color: red;
        border: 1px solid;
        border-color: red;
        margin: 0px 0 0px;
        padding: 0px;
        float: right;
    }

    #fs-noborder {
        color: red;
        border: 0px solid;
        border-color: red;
        margin: 0px 0 0px;
        padding: 0px;
        <!-- float: right; -->
    }

    #fs-nopadding {
        border: 1px solid;
        margin: 0px 0 0px;
        padding: 0px;
        <!-- float: right; -->
    }

    #td-nopad {
        border: 0px solid;
        margin: 0px 0 0px;
        padding: 0px;
        font-size: 12px;
        <!-- float: right; -->
    }

    input[class="red-border"]:checked {
        color: darkred;
    }
    #fs-nopad {
        border: 1px solid;
        margin: 0px 0 0px;
        padding: 0px;
        font-size: 20px;
        <!-- float: right; -->
    }

    
</style>

<body class="body1">
    <form class="form1">
        <h1>Cocoa Beach Express Shuttle Reservation</h1>
        <fieldset id="fs-noborder">
            <label3 id="verified-info">Guest Verified Email Received<input type="checkbox" name="eml_rcvd"></label3><br>
        </fieldset>
        <fieldset id="fs-noborder">
            <label3 id="verified-info">Guest Verified Correct Info Entered<input type="checkbox" name="Inf_vrfd"></label3>
        </fieldset>
        <fieldset id="fs-nopadding">
            <table>
                <tbody>
                    <tr><td id="td-nopad"><label2>Ship:<input type="text" name="shp_name"></label2></td><td>     </td><td id="td-nopad"><label2>FC Added:<input type="text" name="shp_fc"></label2></td></tr>
                    <tr><td id="td-nopad"><label2>Time:<input type="time" name="shp_name"></label2></td><td>     </td><td id="td-nopad"><label2>Paid:<input type="text" name="shp_pd"></label2></td></tr>
                    <tr><td id="td-nopad"><label2>Dates:<input type="date" name="shp_name"></label2></td><td>     </td><td id="td-nopad"><label2>Cost $:<input type="text" name="shp_cst"></label2></td></tr>
                </tbody>
            </table>
        </fieldset>
        <fieldset id="fs-nopad" >
            <legend >Reservation Type</legend>
            <label4><input type="radio" name="reservation_type" value="add_on"> ADD-ON</label4>
            <label4><input type="radio" name="reservation_type" value="package"> PACKAGE</label4>
            <label4><input type="radio" name="reservation_type" value="one_way"> ONE-WAY</label4>
            <label4><input type="radio" name="reservation_type" value="round_trip"> ROUND-TRIP</label4>
            <label4><input type="radio" name="reservation_type" value="round_trip"> PORT 2 PORT</label4>

        </fieldset>
        <fieldset id="fs-nopad">
            <legend id="nopadding">Hotel</legend>
            <select name="hotel" title="Hotel">
                <option value="radisson">Radisson</option>
                <option value="port_2_port">PORT 2 PORT</option>
                <option value="springhill_suites">SpringHill Suites</option>
                <option value="4_points">4 Points</option>
                <option value="cocoa_beach_suites">Cocoa Beach Suites</option>
                <option value="towne_place">Towne Place</option>
                <option value="other">Other</option>
            </select>
            <!-- Add other form fields here -->
            <p>
                <label id="nopadding">Clerk: <input type="text" name="clerk"></label>
            </p>
            <p>
                <label id="nopadding">Hotel reservation #: <input type="text" name="hotel_reservation_number"></label>
            </p>
        </fieldset>
        <fieldset>
            <legend>Guest Info</legend>
            <p>
                <label id="nopadding">Name: <input type="text" name="guest_name"></label>
            </p>
            <p>
            </p><table>
                <tbody>
                    <tr>
                        <td>
                            <label2 id="nopadding">Cell Phone: <input type="tel" name="cell_phone"></label2>
                        </td>
                        <td>
                            <label2 id="nopadding">2nd Cell Phone: <input type="tel" name="second_cell_phone"></label2>
                        </td>
                    </tr>
                </tbody>
            </table>
            <label2 id="nopadding">Email: <input type="email" name="email"></label2>
            <p></p>
        </fieldset>
        <fieldset>
            <legend>Flight Info</legend>
            <p>
            </p><fieldset>
                <legend> Arrival </legend>
                <label id="nopadding">Date: <input type="date" name="arrvl_dt"></label>
                <label id="nopadding">Time: <input type="time" name="arrvl_tm"></label>
                <label id="nopadding">Airport: <input type="text" name="arrvl_arprt" value="MCO"></label>
                <label id="nopadding">Airline: <input type="text" name="arrvl_arln"></label>
                <label id="nopadding">Flight #: <input type="text" name="arrvl_flght_nmbr"></label>
                <label id="nopadding"># Of Passengers: <input type="number" name="arrvl_nmbr_pssngrs"></label>
                <label id="nopadding">Pick-Up Time: <input type="time" name="arrvl_pck_up_tm"></label>
                <label id="nopadding">Drop-off location: <input type="text" name="arrvl_drp_off_loc"></label>
            </fieldset>
            <p></p>
            <p>
            </p><fieldset>
                <legend> Departure </legend>
                <label id="nopadding">Date: <input type="date" name="dep_dt"></label>
                <label id="nopadding">Time: <input type="time" name="dep_tm"></label>
                <label id="nopadding">Airport: <input type="text" name="dep_arprt" value="MCO"></label>
                <label id="nopadding">Airline: <input type="text" name="dep_arln"></label>
                <label id="nopadding">Flight #: <input type="text" name="dep_flght_nmbr"></label>
                <label id="nopadding"># Of Passengers: <input type="number" name="dep_nmbr_pssngrs"></label>
                <label id="nopadding">Pick-Up Time: <input type="time" name="dep_pck_up_tm"></label>
                <label id="nopadding">Drop-off location: <input type="text" name="dep_drp_off_loc"></label>
            </fieldset>
            <p></p>
            <p>
            </p><fieldset>
                <legend>Special Requirements:</legend>
                <table>
                    <tbody>
                        <tr>
                            <td><label id="nopadding">Passenger has wheelchair:</label></td>
                            <td><input type="checkbox" name="wheelchair"></td>
                            <td></td>
                            <td><label>Can it fold up:</label></td>
                            <td><input type="checkbox" name="foldable_wheelchair"></td>
                        </tr>
                    </tbody>
                </table>
                <p></p>
                <p>
                    <label>Additional Info: <textarea name="additional_info"></textarea></label>
                </p>
            </fieldset>
            <!-- ... (other fields) ... -->
            <p>
                <button type="submit">Submit</button>
            </p>



        </fieldset>
    </form>
</body>
