<style>
    .form1 {
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        position: relative;
    }
    .circular-button {
        border-radius: 50%;
        background-color: red;
        background: url(MinusButton.png);
        /* Other button styles (background color, padding, etc.) */
        background-image: url('/Images/MinusButton.png');
        height: 30px;
        width: 31px;
        font-weight: 900;
        border: none;
        background-color: #F7DC6F;
    }
    .circular-button-clear {
        border-radius: 50%;
        background: url(TransparentBlock.png);
        /* Other button styles (background color, padding, etc.) */
        background-image: url('/Images/TransparentBlock.png');
        height: 30px;
        width: 31px;
        font-weight: 900;
        border: none;
        background-color: #F7DC6F;
    }
    .flex-pick {
        display: flex;
        justify-content: center; /* Horizontally center the items */
        align-items: center; /* Vertically center the items */
        height: 30px; /* Set the height of the container */
        border: none; /* Optional border for visibility */
        padding: 10px;
    }
    .flex-pick-item {
        width: 100px; /* Set the width of the items */
        height: 20px; /* Set the height of the items */
        background-color: dodgerblue; /* Set the background color */
        margin: 0px; /* Space between the items */
        text-align: center; /* Center the text inside the items */
        line-height: 20px; /* Align the text vertically */
        color: white; /* Text color */
    }
    h1 {
        border-radius: 8px;
        background-color: #333;
        color: #fff;
        padding: 20px 0;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    h2 {
        color: #333;
        font-size: 24px;
        margin-bottom: 20px;
    }
    label {
        display: block;
        margin: 12px 0 5px;
    }
    label2 {
        display: block;
        margin: 0px 0 0px;
    }
    label3 {
        color: red;
        display: inline-block;
        margin: 0px 0 0px;
    }
    label4 {
        font-size: 11px;
        margin: 0px 0 0px;
        display: inline-block
    }
    .TrpNm {
        padding-left: 5px;
        background-color: #F7DC6F;
        font-size: 15px;
        font-weight: 900;
        margin-bottom: 0px;
        margin: unset;
    }
    input[type='text'],
    input[type='tel'],
    input[type='email'],
    input[type='date'],
    input[type='time'],
    input[type='number'],
    select,
    textarea {
        width: 100%;
        padding: 5px;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-sizing: border-box;
    }
    input[type='radio'],
    input[type='checkbox'] {
        margin-right: 10px;
        margin-left: 5px;
    }
        /* Custom checkbox style */
        input[type="checkbox"].red-border {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            width: 10px; /* Width and height can be adjusted as needed */
            height: 10px;
            border: 1px solid red; /* Red border */
            cursor: default;
        }
    textarea {
        height: 100px;
        width: 100%;
    }
    button {
        background-color: #5cb85c;
        color: #fff;
        border: none;
        border-radius: 4px;
        padding: 10px 20px;
        cursor: pointer;
    }
        button:hover {
            background-color: #4cae4c;
        }
    #verified-info {
        color: red;
        border: 1px solid;
        border-spacing: 0px;
        border-color: red;
        margin: 0px 0 0px;
        padding: 0px;
        float: right;
        top: 0px;
    }
    #verified-info-block {
        display: inline-block;
        color: red;
        border: 1px solid;
        border-color: red;
        margin: 0px 0 0px;
        top: 0px;
        padding: 0px;
        float: right;
    }
    #fs-noborder {
        color: red;
        border: 0px solid;
        border-color: red;
        margin: 0px 0 0px;
        padding: 0px;
    }
    #fs-nopadding {
        border: 0px solid;
        margin: 0px 0 0px;
        padding: 0px;
        width: 100%;
    }
    #fs-nopadding2 {
        border: 1px solid;
        Width: 50%;
        padding: 0px;
        display: inline-block;
    }
    #fs-restype {
        border: 1px solid;
        width: 55% !important;
        padding: 0px;
        border-radius: 8px;
        float: left;
    }
    #div-ship {
        left: 175px;
        top: 155px;
        padding: 0px;
        margin: 0px 0 0px;
    }
    #fs-ship {
        border: 1px solid;
        padding: 0px;
        width: 300px;
        margin: 0px 0 0px;
        border-radius: 8px;
        left: 314px;
        top: 100px; -->
    }
    #div-Hotel {
        position: relative;
        left: 150px;
        top: 5px;
        padding: 0px;
        margin: 0px 0 0px;
    }
    #fs-hotel {
        border: 1px solid;
        padding: 0px;
        margin: 0px;
        width: 150px;
        border-radius: 8px;
        top: 5px;
    }
    #fs-guest {
        padding: 0px;
        margin: 0px;
        border-radius: 8px;
    }
    .fs-arrive {
        border: 1px solid;
        Width: 50%;
        padding: 0px;
        float: left;
        margin: 0px;
        border-radius: 8px;
    }
    #fs-depart {
        border: 1px solid;
        Width: 50%;
        padding: 0px;
        float: right;
        margin: 0px;
        border-radius: 8px;
    }
    #fs-special {
        border: 1px solid;
        Width: 100%;
        padding: 0px;
        margin: 0px;
        border-radius: 8px;
    }
    #fs-wheelchair {
        border: none;
        Width: 100%;
        padding: 0px;
        margin: 0px;
        border-radius: 8px;
    }
    #fs-nopadding3 {
        border: 1px solid;
        width: 50%;
        padding: 0px;
        float: right;
    }
    #fs-flightinfo {
        border: 1px solid;
        <!-- margin: 50% auto; -->
        width: 50%;
        padding: 0px;
        border-radius: 8px;
        float: left;
        background-color: #f4f4f4;
    }
    .td-nopad {
        border: 0px solid;
        margin: 0px 0 0px;
        padding: 0px;
        font-size: 12px;
    }
    #btn-submit {
        position: center;
    }
    input[class="red-border"]:checked {
        color: darkred;
    }
    .ml {
        margin-left: 30px;
    }
    .mt {
        margin-top: 30px !important;
    }
    h4 {
        display: flex;
        flex-direction: row;
    }
        h4:before,
        h4:after {
            content: "";
            flex: 1 1;
            border-bottom: 2px solid #000;
            margin: auto;
        }
    img {
        height: 100px;
        width: 100px;
        border-radius: 50%;
    }
    .TrpNm {
        width: 100%;
    }
</style>
<form class="form1">
    @*<input type="hidden" id="rsrvtn_nbr"value="@ViewBag.ReservationId" />*@
    <h1 style="padding:unset">
        Cocoa Beach Express Shuttle Reservation
        <img id="RsrvtnSearch" style=" width: 50px; height: 40px;" src="~/Images/search.png" />
        @*<lable id="RsrvtnID" style="font-size:20px">@ViewBag.ReservationId</lable>*@
        <label id="RsrvtnID" style="font-size:20px"></label>
    </h1>
    <table class="td-nopad" style="width:100%">
        <tr>
            <td style="display: flex;">
                <fieldset id="fs-restype" style="border:none">
                    <table id="fs-nopadding">
                        <tr>
                            <td>
                                <label4><input type="checkbox" id="rsrvtn_ctgry" name="rsrvtn_ctgry" value="1"> ADD-ON</label4>
                                <label4><input type="checkbox" id="rsrvtn_ctgry" name="rsrvtn_ctgry" value="2"> PACKAGE</label4>
                            </td>
                        </tr>
                    </table>
                </fieldset>
                <Div id="Div-Hotel" style="display:none">
                    <fieldset id="fs-hotel">
                        <legend>Hotel</legend>
                        <select id="htl_lst" name="htl_nme" title="Hotel">
                        </select>
                        <!-- Add other form fields here -->
                        <label4 id="nopadding">Clerk: <input type="text" id="htl_clrk" name="htl_clrk"></label4>
                        <label4 id="nopadding">Reservation #: <input type="text" id="htl_rsrvtn_nmbr" name="htl_rsrvtn_nmbr"></label4>
                    </fieldset>
                </Div>
            </td>
            <td style="display: flex; justify-content: flex-end; margin-top: -22px;">
                <fieldset id="fs-noborder" style="padding:2px">
                    <label3 id="verified-info">&nbsp;Guest Verified Email Received<input type="checkbox" id="vrfd_eml_rcvd"></label3><br>
                </fieldset>
                <fieldset id="fs-noborder" style="padding:2px">
                    <label3 id="verified-info">&nbsp;Guest Verified Correct Info Entered<input type="checkbox" id="vrfd_Inf"></label3>
                </fieldset>
            </td>
            <td>
                <Div id="div-ship" style="display:none">
                    <fieldset id="fs-ship">
                        <legend>Ship</legend>
                        <table class="td-nopad">
                            <tr>
                                <td class="td-nopad">
                                    <select id="shp_lst" name="shp_id" title="Hotel">
                                    </select>
                                </td>
                                <td></td>
                                <td class="td-nopad">
                                    <label4>FC Added:<input type="text" id="shp_fc"></label4>
                                </td>
                            </tr>
                            <tr>
                                <td class="td-nopad">
                                    <label4>Time:<input type="time" id="shp_tm"></label4>
                                </td>
                                <td></td>
                                <td class="td-nopad">
                                    <label4>Paid:<input type="text" id="shp_pd"></label4>
                                </td>
                            </tr>
                            <tr>
                                <td class="td-nopad">
                                    <label4>Dates:<input type="date" id="shp_dt"></label4>
                                </td>
                                <td>     </td>
                                <td class="td-nopad">
                                    <label4>Cost:<span class="currencyinput">$<input type="text" id="shp_cst"></span></label4>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </Div>
            </td>
        </tr>
    </table>
    <fieldset id="fs-guest">
        <legend style="border-bottom:unset;margin-bottom:0px">
            <h2 style="width: 100%; text-align: center; border-bottom: 1px solid #000; line-height: 0.1em;">
                <span style="padding: 0 10px; background: white; ">GUEST INFO</span>
            </h2>
        </legend>
        <table class="td-nopad">
            <tr class="td-nopad">
                <td><label4 id="nopadding">Email: <input type="email" id="gst_eml" style="width:150%"></label4></td>
            </tr>
            <tr class="td-nopad">
                <td>
                    <label4 id="nopadding">First Name: <input type="text" id="gst_fnme"></label4>
                    <label4 id="nopadding">Last Name: <input type="text" id="gst_lnme"></label4>

                </td>
            </tr>
            <tr class="td-nopad"><td><label4 id="nopadding">Cell Phone: <input type="tel" id="gst_cphn1"></label4> <label4 id="nopadding">2nd Cell Phone: <input type="tel" id="gst_cphn2"></label4></td></tr>
        </table>
    </fieldset>
    <h2 style="width: 100%; text-align: center; border-bottom: 1px solid #000; line-height: 0.1em;">
        <span style="padding: 0 10px; background: white; ">ITINERARY</span>
    </h2>
    <div id="Trips">
        <div id="Trip_Tmplt" style="width: 100%; display: none;">
            <table style=" margin-bottom: 10px; width:100%;">
                <tr>
                    <td style="background-color: #F7DC6F; "><input id="btnRmvTrp_Tmplt" class="circular-button-clear" style="display:inline-block;" type="button" /></td>
                    <td id="TripInfTD_Tmplt" style="background-color: #F7DC6F;">
                        <label id="TrpNm_Tmplt" class="TrpNm">Trip #</label>
                        <fieldset id="fsTripInfo_Tmplt" class="fs-arrive" style="width: 100%; border: none; margin-bottom:5px">
                            <label4 class="ml">Date: <input type="date" id="TrpDt_Tmplt"></label4>
                            <label4 class="ml">Shuttle Time:<br/><select class="ml" id="TrpTm_Tmplt" name="TrpTm" title="shttl_tm" style=" margin-left: 0px; font-size: 12px; font-weight: 300; display: inline-block "></select>
                            @*<input type="time" id="TrpTm_Tmplt" min="09:00" max="21:00" step="1800">*@
                            </label4>
                            <label4 class="ml" style=" /* margin-left: 10px;*/ width: 100px; "># Passengers: <input type="number" id="TrpPssngrs_Tmplt"></label4>
                            <label4 id="TrpCst_Tmplt" class="ml" style="width:75px; font-size:25px;text-align: right;">$0.00</label4>
                        </fieldset>
                    </td>
                </tr>
            </table>
            <fieldset id="fs-arrive_Tmplt" classs="fs-arrive" style="width: 100%; border: none;margin-bottom:35px">
                <div style="display:flex;border:none; margin-bottom:10px;">
                    Pick
                    <div class="flex-pick">
                        <div class="flex-pick-item">
                            <label4 style=" margin-left: 30px; width: 100px;display:inline-block ">
                                From:
                                <select id="Pcklctntpe_Tmplt" name="Pcklctntpe_1" title="Hotel" style=" margin-left: 0px; width: 100px; display: inline-block "></select>
                            </label4>
                        </div>
                        <div class="flex-pick-item">
                            <label4>
                                <label4 id="lblpck_Tmplt" style=" margin-left: 10px; width: 100px; display: none "></label4><br />
                                <select id="pcklctn_Tmplt" name="pcklctn" title="Hotel" style="margin-left: 10px; display:none;"></select>
                            </label4>
                        </div>
                        <div class="flex-pick-item">
                            <label4>
                                <label4 id="lblpckarln_Tmplt" style=" margin-left: 20px; width: 100px; display: none ">
                                    Airline:
                                </label4>
                                <select id="Pckarln_Tmplt" title:"test" name="Pckarln_Tmplt" style=" margin-left: 20px; width: 100px; display: none "><option value="0">select</option></select>
                            </label4>
                        </div>
                        <div class="flex-pick-item">
                            <label4 style="margin-left: 0px">
                                <label4 id="lblpckflght_Tmplt" style=" margin-left: 10px; width: 75px; display: none ">Flight #: </label4><input type="text" id="pckflght_Tmplt" style=" margin-left: 10px; width: 75px; display: none ">
                            </label4>
                            <label4 id="lblfrmtm_Tmplt" style=" margin-left: 10px; width: 100px; display: none ">Arrival Time: <input type="time" id="frmtm_Tmplt"></label4>
                        </div>
                        </div>
                    </div>
                <div style="display: flex; margin-top: 0px; margin-bottom: 20px; border-bottom: unset; border-top: 1px dotted gray;">
                    Drop
                    <label4 style=" margin-left: 30px; width: 100px;display:inline-block ">
                        To:
                        <select id="Drplctntpe_Tmplt" name="Drplctntpe_1" title="Hotel" style=" margin-left: 0px; width: 100px;display:inline-block "></select>
                    </label4>
                    <label4 id="lbldrptm_Tmplt" style=" margin-left: 10px; width: 100px;display:none ">Departure Time: <input type="time" id="drptm_Tmplt"></label4>
                    <label4>
                        <label4 id="lbldrp_Tmplt" style=" margin-left: 10px; width: 100px;display:none;"></label4>
                        <select id="drplctnto_Tmplt" name="drop_lctn_to" title="Hotel" style="margin-left: 10px; display: none;"></select>
                    </label4>
                    <label4>
                        <label4 id="lbldrparln_Tmplt" style=" margin-left: 20px; width: 100px; display: none ">
                            Airline:
                        </label4>
                        <select id="Drparln_Tmplt" style=" margin-left: 20px; width: 100px; display: none "><option value="0">select</option></select>
                    </label4>
                    <label4>
                        <label4 id="lbldrpflght_Tmplt" style=" margin-left: 10px; width: 100px; display: none ">Flight #: </label4><input type="text" id="drpflght_Tmplt" style=" margin-left: 10px; width: 100px; display: inline-block ">
                    </label4>
                </div>
                <div style="display: flex; justify-content: flex-start; align-items: flex-end;">
                    Special Requirements:&emsp;
                    <label4 id="lblwhlchr_Tmplt">Wheelchair:</label4><input type="checkbox" id="whlchr_Tmplt" value="1">
                    <label4 id="lblwhlchrcnfld_Tmplt">fold up:</label4><input type="checkbox" id="whlchrcnfld_Tmplt" value="1">
                    <label4 id="lbladdtnlinf_Tmplt">Additional Info:</label4> <textarea id="addtnlinf_Tmplt" style=" height: 40px; width: 300px;"></textarea>
                </div>
            </fieldset>
        </div>
    </div>
    <h4 style="width: 100%; text-align: center; border-bottom: 0px solid #000; line-height: 0.1em;">
        <input id="btnAddTrp" class="btn btn-default" type="button" style="font-weight: 900;" value="+" />
    </h4>
    <p id="TrpCst_Tmplt" class="ml" style="width:630px; border:0px; padding:0px; font-size:25px;text-align: right;">Total: $0.00</p>
    <br />
    <div style="text-align: center;">
        <a class="btn btn-success" OnClick="SaveCustomer()" href="#" id="MncAgr" style=" font-size: 20px;">
            Submit
        </a>
        @Html.ActionLink("Cancel", "Reservations", "Home", new { area = "" }, new { @class = "btn btn-danger", @style = "font-size:20px" })
    </div>
</form>
<script type="text/javascript">
    let htl_id;
    let shp_id;
    let trpcnt = 1;
    let TripNumber = 1;
    let Trips;
    let TripTmplt;
    let TripCrrnt;
    let CrrntElement;
    let RsrvtnID = 'xxxxxx';
    let Rsvtnfrm = [
        {
            htl_id: "",
            htl_clrk: "",
            htl_rsrvtn_nmbr: "",
            shp_id: "",
            shp_fc: "",
            shp_tm: "",
            shp_pd: "",
            shp_dt: "",
            shp_cst: "",
            vrfd_eml_rcvd: "",
            vrfd_Inf: "",
            rsrvtn_ctgry: "",
            rsrvtn_tpe: "",
            gst_fnme: "",
            gst_lnme: "",
            gst_cphn1: "",
            gst_eml: "",
            gst_cphn2: "",
            arrvl_dt: "",
            arrvl_tm: "",
            arrvl_arprt: "",
            arrvl_arln: "",
            arrvl_flght_nmbr: "",
            arrvl_nmbr_pssngrs: "",
            arrvl_pckup_tm: "",
            arrvl_drpoff_loc: "",
            dep_dt: "",
            dep_tm: "",
            dep_arprt: "",
            dep_arln: "",
            dep_flght_nmbr: "",
            dep_nmbr_pssngrs: "",
            dep_pck_up_tm: "",
            dep_drp_off_loc: "",
            whlchr: "",
            whlchr_cnfld: "",
            addtnl_inf: "",
            rsrvtn_nbr:""
        }
    ];
    window.document.onload = function (e) {
        console.log("document.onload", e, Date.now(), window.tdiff,
            (window.tdiff[0] = Date.now()) && window.tdiff.reduce(fred));
    }
    function generateUniqueID() {
        return Math.random().toString(36).substring(2, 8);
    }
    RsrvtnID = generateUniqueID();
    Trips = document.getElementById('Trips');
    TripTmplt = document.getElementById('Trip_Tmplt');
    document.getElementById("RsrvtnID").textContent = "Reservation ID: " + RsrvtnID;
    // Document Click Event Handler
    document.addEventListener('click', function (event) {
        clickedElement = event.target;
        console.log('You clicked on: ', clickedElement.id);
        var EName = clickedElement.id;
        // Find the position of searchString in mainStringvar
        var position = EName.indexOf('_');
        if (position !== -1) {
            // If the searchString is found, take the remaining datavar
            TripNumber = EName.substring(EName.length - 1)      //position + 1);
            // Now remainingData contains the string starting from the end of searchString
        } else {
            console.log('_' + " not found in " + clickedElement.id);
        }
        switch (clickedElement.id) {
            case "btnAddTrp":
                //console.log('Adding a Trip');
                trpcnt = trpcnt + 1;
                AddNewTrip();
                // Append the cloned div to the target container
                TripCrrnt.style.display = "inline-block";
                Trips.appendChild(TripCrrnt);
                getSelLctnTyps(document.getElementById("Pcklctntpe_" + TripNumber));
                getSelLctnTyps(document.getElementById("Drplctntpe_" + TripNumber));
                break;
            case "RsrvtnSearch":
                var userInput = prompt("Please enter your input:");
                if (userInput != null) {
                    console.log("User input: " + userInput);
                    // You can also perform other actions with the input here
                }
                break;
            default:
                break;
        }
    });
    //Document Channge event handler
    document.addEventListener('change', function (event) {
        var changedElement = event.target;
        var EName = document.getElementById(changedElement.id).id;
        var selectedVal = changedElement.value;
        // Find the position of searchString in mainStringvar
        var position = EName.indexOf('_');
        if (position !== -1) {
            // If the searchString is found, take the remaining datavar
            TripNumber = EName.substring(EName.indexOf('_') + 1); //, EName.length);      //position + 1);
            // Now remainingData contains the string starting from the end of searchString
        } else {
            console.log('_' + " not found in " + clickedElement.id);
        }
        //console.log('TripNumberx: ', TripNumber);
        if (changedElement.id == 'vrfd_eml_rcvd') {
                if (this.checked)
                    $('#vrfd_eml_rcvd').val("1")
                else
                    $('#vrfd_eml_rcvd').val("0")
        }
        // Verified Information Change Handler
        if (changedElement.id == 'vrfd_Inf') {
            if (this.checked)
                $('#vrfd_Inf').val("1")
            else
                $('#vrfd_Inf').val("0")
        };
        // Reservation Category change Handler
        if (changedElement.id == 'rsrvtn_ctgry') {
                if (this.checked)
                    $('#rsrvtn_ctgry').val("1")
                else
                    $('#rsrvtn_ctgry').val("0")
        };
        if (changedElement.id == 'Drplctntpe_' + TripNumber) {
            selectedVal = changedElement.options[changedElement.selectedIndex].value;
            var lbl = changedElement.options[changedElement.selectedIndex].text;
            document.getElementById("lbldrp_" + TripNumber).textContent = lbl + ":";
            switch (selectedVal) {
                case "AP":
                    document.getElementById("drplctnto_" + TripNumber).style.display = "inline-block";
                    document.getElementById("lbldrparln_" + TripNumber).textContent = "Airline:";
                    document.getElementById("lbldrparln_" + TripNumber).style.display = "inline-block";
                    document.getElementById("Drparln_" + TripNumber).style.display = "inline-block";
                    document.getElementById("lbldrpflght_" + TripNumber).textContent = "Flight #";
                    document.getElementById("lbldrpflght_" + TripNumber).style.display = "inline-block";
                    document.getElementById("lbldrptm_" + TripNumber).style.display = "inline-block";
                    document.getElementById("lbldrp_" + TripNumber).style.display = "inline-block";
                    document.getElementById("drpflght_" + TripNumber).style.display = "inline-block";
                    document.getElementById("Drparln_" + TripNumber).style.display = "inline-block";
                    getSelLocations("AL", document.getElementById("Drparln_" + TripNumber));
                    getSelLocations("AP", document.getElementById("drplctnto_" + TripNumber));//drpgetLocationsByType("AP");
                    break;
                case "CL":
                    document.getElementById("drplctnto_" + TripNumber).style.display = "inline-block";
                    document.getElementById("lbldrparln_" + TripNumber).textContent = "Ship:";
                    document.getElementById("lbldrparln_" + TripNumber).style.display = "inline-block";
                    document.getElementById("Drparln_" + TripNumber).style.display = "inline-block";
                    document.getElementById("lbldrpflght_" + TripNumber).textContent = "Conf:";
                    document.getElementById("lbldrpflght_" + TripNumber).style.display = "inline-block";
                    document.getElementById("lbldrptm_" + TripNumber).style.display = "inline-block";
                    document.getElementById("lbldrp_" + TripNumber).style.display = "inline-block";
                    document.getElementById("drpflght_" + TripNumber).style.display = "inline-block";
                    document.getElementById("Drparln_" + TripNumber).style.display = "inline-block";
                    getSelLocations("SH", document.getElementById("Drparln_" + TripNumber));//Cruise Ships
                    getSelLocations("CL", document.getElementById("drplctnto_" + TripNumber));//drpgetLocationsByType("CL");
                    break;
                case "H ":
                    document.getElementById("drplctnto_" + TripNumber).style.display = "inline-block";
                    document.getElementById("lbldrparln_" + TripNumber).style.display = "none";
                    document.getElementById("Drparln_" + TripNumber).style.display = "none";
                    document.getElementById("lbldrpflght_" + TripNumber).style.display = "none";
                    document.getElementById("lbldrptm_" + TripNumber).style.display = "none";
                    document.getElementById("lbldrp_" + TripNumber).style.display = "block";
                    document.getElementById("drpflght_" + TripNumber).style.display = "none";
                    document.getElementById("Drparln_" + TripNumber).style.display = "none";
                    getSelLocations("H ", document.getElementById("drplctnto_" + TripNumber));//drpgetLocationsByType("H ");
                    break;
               default:
                    document.getElementById("drplctnto_" + TripNumber).style.display = "none";
                    document.getElementById("lbldrparln_" + TripNumber).style.display = "none";
                    document.getElementById("Drparln_" + TripNumber).style.display = "none";
                    document.getElementById("lbldrpflght_" + TripNumber).style.display = "none";
                    document.getElementById("lbldrptm_" + TripNumber).style.display = "none";
                    document.getElementById("lbldrp_" + TripNumber).style.display = "none";
                    document.getElementById("drpflght_" + TripNumber).style.display = "none";
                    document.getElementById("Drparln_" + TripNumber).style.display = "none";
                   break;
            }
            drpgetLocationsByType(selectedVal);
        };
        if (changedElement.id == 'Pcklctntpe_' + TripNumber) {
            var lbl = changedElement.options[changedElement.selectedIndex].text;
            document.getElementById("lblpck_" + TripNumber).textContent = lbl + ':';
            switch (selectedVal) {
                case "AP":
                    document.getElementById("pcklctn_" + TripNumber).style.display = "inline-block";
                    document.getElementById("lblpckarln_" + TripNumber).textContent = "Airline:";
                    document.getElementById("lblpckarln_" + TripNumber).style.display = "inline-block";
                    document.getElementById("Pckarln_" + TripNumber).style.display = "inline-block";
                    document.getElementById("lblpckflght_" + TripNumber).textContent = "Flight #";
                    document.getElementById("lblpckflght_" + TripNumber).style.display = "inline-block";
                    document.getElementById("lblfrmtm_" + TripNumber).style.display = "inline-block";
                    document.getElementById("lblpck_" + TripNumber).style.display = "inline-block";
                    document.getElementById("pckflght_" + TripNumber).style.display = "inline-block";
                    document.getElementById("Pckarln_" + TripNumber).style.display = "inline-block";
                    getSelLocations("AL", document.getElementById("Pckarln_" + TripNumber));
                    getSelLocations("AP", document.getElementById("pcklctn_" + TripNumber));//pckgetLocationsByType("AP");
                    generateTimeOptions(9, 21, 60, document.getElementById("TrpTm_" + TripNumber));//Airport Pickup times
                    break;
                case "CL":
                    document.getElementById("pcklctn_" + TripNumber).style.display = "inline-block";
                    document.getElementById("lblpckarln_" + TripNumber).textContent = "Ship:";
                    document.getElementById("lblpckarln_" + TripNumber).style.display = "inline-block";
                    document.getElementById("Pckarln_" + TripNumber).style.display = "inline-block";
                    document.getElementById("lblpckflght_" + TripNumber).textContent = "Ship #";
                    document.getElementById("lblpckflght_" + TripNumber).style.display = "inline-block";
                    document.getElementById("lblfrmtm_" + TripNumber).style.display = "inline-block";
                    document.getElementById("lblpck_" + TripNumber).style.display = "inline-block";
                    document.getElementById("pckflght_" + TripNumber).style.display = "inline-block";
                    document.getElementById("Pckarln_" + TripNumber).style.display = "inline-block";
                    getSelLocations("SH", document.getElementById("Pckarln_" + TripNumber));
                    getSelLocations("CL", document.getElementById("pcklctn_" + TripNumber));//pckgetLocationsByType("CL")
                    generateTimeOptions(8, 11, 60, document.getElementById("TrpTm_" + TripNumber));//Port Pickup times
                    break;
                case "H ":
                    document.getElementById("pcklctn_" + TripNumber).style.display = "inline-block";
                    document.getElementById("lblpckarln_" + TripNumber).style.display = "none";
                    document.getElementById("Pckarln_" + TripNumber).style.display = "none";
                    document.getElementById("lblpckflght_" + TripNumber).style.display = "none";
                    document.getElementById("lblfrmtm_" + TripNumber).style.display = "none";
                    document.getElementById("lblpck_" + TripNumber).style.display = "block";
                    document.getElementById("pckflght_" + TripNumber).style.display = "none";
                    document.getElementById("Pckarln_" + TripNumber).style.display = "none";
                    getSelLocations("H ", document.getElementById("pcklctn_" + TripNumber));//pckgetLocationsByType("H ");
                    generateTimeOptions(8, 20, 120, document.getElementById("TrpTm_" + TripNumber));//Hotel Pickup times
                    break;
                default:
                    document.getElementById("pcklctn_" + TripNumber).style.display = "inline-block";
                    document.getElementById("lblpckarln_" + TripNumber).textcontent = "Airline:";
                    document.getElementById("lblpckarln_" + TripNumber).style.display = "inline-block";
                    document.getElementById("lblpckflght_" + TripNumber).textContent = "Flight #";
                    document.getElementById("lblpckflght_" + TripNumber).style.display = "inline-block";
                    document.getElementById("lblfrmtm_" + TripNumber).style.display = "inline-block";
                    document.getElementById("lblpck_" + TripNumber).style.display = "inline-block";
                    document.getElementById("pckflght_" + TripNumber).style.display = "inline-block";
                    document.getElementById("Pckarln_" + TripNumber).style.display = "inline-block";
                    document.getElementById("pckfrmtm_" + TripNumber).style.display = "inline-block";
                    getSelLocations("AL", document.getElementById("Pckarln_" + TripNumber));
                    break;
            }
            getSelLocations(selectedVal, document.getElementById("pcklctn_" + TripNumber));// pckgetLocationsByType(selectedVal);
        };
    });
    function AddNewTrip() {
            //console.log('Adding a Trip NewMethod');
            TripNumber = trpcnt;
            TripCrrnt = TripTmplt.cloneNode(true); // The `true` is for deep cloning Trip_Tmplt
            TripCrrnt.id = TripCrrnt.id.substring(0, TripCrrnt.id.indexOf('_') + 1) + TripNumber
            filteredElements = TripCrrnt.querySelectorAll('[id*="_Tmplt"]');
            // Iterate over the NodeList and perform actions on each element
            filteredElements.forEach(element => {
                // For demonstration, let's log the ID of each element
                element.setAttribute('id', element.id.substring(0, element.id.indexOf('_')+1) + TripNumber);
                switch (element.id.substring(0, element.id.indexOf('_') + 1)) {
                    case "TrpNm_":
                        element.textContent = "Trip " + TripNumber;
                        break;
                    case "btnRmvTrp_":
                        if (TripNumber > 1) { element.className = "circular-button"; };
                        break;
                    case "TrpTm_":
                        break;
                    case "lblpck_":
                        element.textContent = "Airport:";
                        element.style.display = "none";
                        break;
                    case "lbldrparln_":
                        element.style.display = "none";
                        break;
                    case "lbldrp_":
                        element.textContent = "Hotel:";
                        element.style.display = "none";
                        break;
                    case "lblpckarln_":
                        element.style.display = "none";
                        break;
                    case "lblpckflght_":
                        element.style.display = "none";
                        break;
                    case "lblfrmtm_":
                        element.style.display = "none";
                        break;
                    case "lbldrpflght_":
                        element.style.display = "none";
                        break;
                    case "lbldrptm_":
                        element.style.display = "none";
                        break;
                    case "drpflght_":
                        element.style.display = "none";
                        break;
                    case "Drparln_":
                        element.style.display = "none";
                        break;
                    default:
                        break;
                }
            });
    };
    document.addEventListener('DOMContentLoaded', function () {
        AddNewTrip();
        TripCrrnt.style.display = "inline-block";
        Trips.appendChild(TripCrrnt);
        getSelLctnTyps(document.getElementById("Pcklctntpe_" + TripNumber));
        getSelLctnTyps(document.getElementById("Drplctntpe_" + TripNumber));
    });
    function clearSelect(selectElement) {
        if (selectElement.nodeName == 'SELECT') {
            selectElement.options.length = 0;
        }
    };
    function getSelLctnTyps(element) {
        fetch(`/Home/GetLocationTypes`)
            .then(response => response.json())
            .then(data => {
                console.log(element.id);
                const selectElement = document.getElementById(element.id);
                selectElement.innerHTML = '<option value="0">Select</option>';
                data.forEach(item => {
                    const option = document.createElement('option');
                    option.textContent = item.lctn_tpe_dsc;
                    option.value = item.lctn_tpe;
                    selectElement.appendChild(option);
                });
            })
            .catch(error => console.error('Error:', error));
    }
    function getHotelList() {
        $.get("/Home/GetHotelsList",
            {

            },
            function (data, status) {
                let d = data;
                $.each(data, function () {
                    $("#htl_lst").empty();
                    $("#htl_lst").append($("<option>", {
                        value: "0",
                        text: "Select"
                    }));
                    $.each(data, function (i, item) {

                        $("#htl_lst").append($("<option>", {
                            value: item.htl_id,
                            text: item.htl_nme
                        }));
                    });
                });
            });
    };
    function getShipsList() {
        $.get("/Home/GetShipsList",
            {
            },
            function (data, status) {
                let d = data;
                $.each(data, function () {
                    $("#shp_lst").empty();
                    $("#shp_lst").append($("<option>", {
                        value: "0",
                        text: "Select"
                    }));
                    $.each(data, function (i, item) {

                        $("#shp_lst").append($("<option>", {
                            value: item.ShipName,
                            text: item.ShipName
                        }));
                    });
                });
            });
    };
    $(function () {
        $("#htl_lst").change(function () {
            //alert($('option:selected', this).text());
            htl_id = $("#htl_lst").val()
        });
    });
    $(function () {
        $("#shp_lst").change(function () {
            //alert($('option:selected', this).text());
            shp_id = $("#shp_lst").val()
        });
    });
    function getSelLocations(data, element) {
        fetch(`/Home/GetLocationsByType?type=${data}`)
            .then(response => response.json())
            .then(data => {
                console.log(element.id);
                const selectElement = document.getElementById(element.id);
                selectElement.innerHTML = '<option value="0">Select</option>';
                data.forEach(item => {
                    const option = document.createElement('option');
                    option.value = item.lctn_id;
                    option.textContent = item.lctn_nme;
                    selectElement.appendChild(option);
                });
            })
            .catch(error => console.error('Error:', error));
    }
    function SaveCustomer() {
        Rsvtnfrm = {
            htl_id: $('#htl_lst').val(),
            htl_clrk: $('#htl_clrk').val(),
            htl_rsrvtn_nmbr: $('#htl_rsrvtn_nmbr').val(),
            shp_id: $('#shp_lst').val(),
            shp_fc: $('#shp_fc').val(),
            shp_tm: $('#shp_tm').val(),
            shp_pd: $('#shp_pd').val(),
            shp_dt: $('#shp_dt').val(),
            shp_cst: $('#shp_cst').val(),
            vrfd_eml_rcvd: $('#vrfd_eml_rcvd').val(),
            vrfd_Inf: $('#vrfd_Inf').val(),
            rsrvtn_ctgry: $('#rsrvtn_ctgry').val(),
            rsrvtn_tpe: $('#rsrvtn_tpe').val(),
            gst_fnme: $('#gst_fnme').val(),
            gst_lnme: $('#gst_lnme').val(),
            gst_cphn1: $('#gst_cphn1').val(),
            gst_eml: $('#gst_eml').val(),
            gst_cphn2: $('#gst_cphn2').val(),
            arrvl_dt: $('#arrvl_dt').val(),
            arrvl_tm: $('#arrvl_tm').val(),
            arrvl_arprt: $('#arrvl_arprt').val(),
            arrvl_arln: $('#arrvl_arln').val(),
            arrvl_flght_nmbr: $('#arrvl_flght_nmbr').val(),
            arrvl_nmbr_pssngrs: $('#arrvl_nmbr_pssngrs').val(),
            arrvl_pckup_tm: $('#arrvl_pckup_tm').val(),
            arrvl_drpoff_loc: $('#arrvl_drpoff_loc').val(),
            dep_dt: $('#dep_dt').val(),
            dep_tm: $('#dep_tm').val(),
            dep_arprt: $('#dep_arprt').val(),
            dep_arln: $('#dep_arln').val(),
            dep_flght_nmbr: $('#dep_flght_nmbr').val(),
            dep_nmbr_pssngrs: $('#dep_nmbr_pssngrs').val(),
            dep_pck_up_tm: $('#dep_pck_up_tm').val(),
            dep_drp_off_loc: $('#dep_drp_off_loc').val(),
            whlchr: $('#whlchr').val(),
            whlchr_cnfld: $('#whlchr_cnfld').val(),
            addtnl_inf: $('#addtnl_inf').val(),
            rsrvtn_nbr: $('#rsrvtn_nbr').val()
        }
            $.ajax({
                type: "POST",
                url: '@Url.Action("SaveReservationFrm")',
                data: JSON.stringify(Rsvtnfrm),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function () {
                    alert("Data has been added successfully.");
                },
                error: function () {
                    alert("Error while inserting data");
                }
            });
    };
    //$("#gst_eml").blur(function () {
    //    //alert('working');
    //    var SearchTerm = document.getElementById("gst_eml").value
    //    if (SearchTerm != "") {
    //        $.get("/Home/GetCustomerByEmail",
    //            {
    //                Email: SearchTerm
    //            },
    //            function (data, status) {
    //                if (data != null && data != "") {
    //                    //console.log(data);
    //                    $('#gst_fnme').val(data[0].CstmrFN);
    //                    $('#gst_lnme').val(data[0].CstmrLN);
    //                    $('#gst_cphn1').val(data[0].CstmrPhn1);
    //                    $('#gst_cphn2').val(data[0].CstmrPhn2);
    //                }
    //                else {
    //                }
    //            });
    //    }
    //    localStorage.setItem("OrderID", "");
    //});
    document.getElementById("gst_eml").addEventListener("blur", function () {
        const searchTerm = this.value;
        if (searchTerm) {
            fetch(`/Home/GetCustomerByEmail?Email=${encodeURIComponent(searchTerm)}`)
                .then(response => response.json())
                .then(data => {
                    if (data && data.length > 0) {
                        document.getElementById('gst_fnme').value = data[0].CstmrFN;
                        document.getElementById('gst_lnme').value = data[0].CstmrLN;
                        document.getElementById('gst_cphn1').value = data[0].CstmrPhn1;
                        document.getElementById('gst_cphn2').value = data[0].CstmrPhn2;
                    }
                })
                .catch(error => console.error('Error:', error));
        }
        localStorage.setItem("OrderID", "");
    });
    function generateTimeOptions(startHour, endHour, increment, element) {
        //Make sure element is a "SELECT" ELEMENT
        switch (element.nodeName) {
            case "SELECT":
                var startTime = startHour * 60; // Convert start hour to minutes
                var endTime = endHour * 60; // Convert end hour to minutes
                // Clear existing options  
                element.innerHTML = '';
                // Loop over the time range in increments
                for (var time = startTime; time <= endTime; time += increment) {
                    var hour = Math.floor(time / 60);
                    var minute = time % 60;
                    // Format the time stringvar 
                    timeString = hour.toString().padStart(2, '0') + ':' + minute.toString().padStart(2, '0');
                    // Create a new option elementvar 
                    option = document.createElement('option');
                    option.value = timeString;
                    option.textContent = timeString;
                    // Append the option to the select element
                    element.appendChild(option);
                };
                break;
            default:
                break;
        }
    };  // Usage: Generate time options from 9 AM to 5 PM in 30-minute incrementsgenerateTimeOptions(9, 17, 30);
</script>